<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 键值参数表[my_param]SQL自动映射 -->
<!--  注意:此文件由MyClouds平台自动生成-禁止手工修改 2018-03-09 18:24:28 -->
<mapper namespace="com.gitee.myclouds.admin.domain.myparam.MyParamMapper">
	
	<!-- 插入一个数据实体对象(插入字段为传入Entity实体的非空属性) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MyParamEntity">
		INSERT INTO my_param (
		<if test="name != null and name != ''">
	         name, <!-- 参数名称 -->
		</if>
		<if test="param_key != null and param_key != ''">
	         param_key, <!-- 参数键 -->
		</if>
		<if test="value != null and value != ''">
	         value, <!-- 参数值 -->
		</if>
		<if test="type != null and type != ''">
	         type, <!-- 所属分类 -->
		</if>
		<if test="update_time != null">
	         update_time, <!-- 更新时间 -->
		</if>
		<if test="remark != null and remark != ''">
	         remark, <!-- 备注 -->
		</if>
	          id
		)VALUES(
		<if test="name != null and name != ''">
	          #{name, jdbcType=VARCHAR}, <!-- 参数名称 -->
	    </if>
		<if test="param_key != null and param_key != ''">
	          #{param_key, jdbcType=VARCHAR}, <!-- 参数键 -->
	    </if>
		<if test="value != null and value != ''">
	          #{value, jdbcType=VARCHAR}, <!-- 参数值 -->
	    </if>
		<if test="type != null and type != ''">
	          #{type, jdbcType=VARCHAR}, <!-- 所属分类 -->
	    </if>
		<if test="update_time != null">
	          #{update_time, jdbcType=TIMESTAMP}, <!-- 更新时间 -->
	    </if>
		<if test="remark != null and remark != ''">
	          #{remark, jdbcType=VARCHAR}, <!-- 备注 -->
	    </if>
	          null
		)
	</insert>
	
	<!-- 插入一个数据实体对象(含所有字段) -->
	<insert id="insertAll" useGeneratedKeys="true" keyProperty="id" parameterType="MyParamEntity">
		INSERT INTO my_param (
		    <include refid="column" />
		)
		VALUES (
		    #{id, jdbcType=INTEGER},  <!-- 流水号 -->
		    #{name, jdbcType=VARCHAR},  <!-- 参数名称 -->
		    #{param_key, jdbcType=VARCHAR},  <!-- 参数键 -->
		    #{value, jdbcType=VARCHAR},  <!-- 参数值 -->
		    #{type, jdbcType=VARCHAR},  <!-- 所属分类 -->
		    #{update_time, jdbcType=TIMESTAMP},  <!-- 更新时间 -->
		    #{remark, jdbcType=VARCHAR}  <!-- 备注 -->
		)
	</insert>

	<!-- 根据主键修改数据实体对象 -->
	<update id="updateByKey" parameterType="MyParamEntity">
		UPDATE my_param
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- 流水号 -->
			</if>
			<if test="name != null">
		          name = #{name, jdbcType=VARCHAR},  <!-- 参数名称 -->
			</if>
			<if test="param_key != null">
		          param_key = #{param_key, jdbcType=VARCHAR},  <!-- 参数键 -->
			</if>
			<if test="value != null">
		          value = #{value, jdbcType=VARCHAR},  <!-- 参数值 -->
			</if>
			<if test="type != null">
		          type = #{type, jdbcType=VARCHAR},  <!-- 所属分类 -->
			</if>
			<if test="update_time != null">
		          update_time = #{update_time, jdbcType=TIMESTAMP},  <!-- 更新时间 -->
			</if>
			<if test="remark != null">
		          remark = #{remark, jdbcType=VARCHAR},  <!-- 备注 -->
			</if>
		</set>
		WHERE  id = #{id}
	</update>
	
	<!-- 根据主键删除数据实体对象 -->
	<delete id="deleteByKey">
		DELETE FROM my_param WHERE  id = #{id}
	</delete>

	<!-- 根据主键查询并返回数据实体对象 -->
	<select id="selectByKey" resultType="MyParamEntity">
		SELECT
		<include refid="column" />
		FROM my_param WHERE  id = #{id}
	</select>

	<!-- 根据唯一组合条件查询并返回数据实体对象 -->
	<select id="selectOne" parameterType="Dto" resultType="MyParamEntity">
		SELECT
		    <include refid="column" />
		FROM my_param
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据实体对象集合 -->
	<select id="list" parameterType="Dto" resultType="MyParamEntity">
		SELECT
			<include refid="column" />	
		FROM my_param
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据实体对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="MyParamEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_param
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="MyParamEntity">
		SELECT
			<include refid="column" />	
		FROM my_param
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="MyParamEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_param
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM my_param
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM my_param
		<where>
		    <include refid="equal" />
		</where>
	</select>

	<!-- 根据唯一键[ukey1]修改数据实体对象 -->
	<update id="updateByUkey1" parameterType="MyParamEntity">
		UPDATE my_param
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- 流水号 -->
			</if>
			<if test="name != null">
		          name = #{name, jdbcType=VARCHAR},  <!-- 参数名称 -->
			</if>
			<if test="param_key != null">
		          param_key = #{param_key, jdbcType=VARCHAR},  <!-- 参数键 -->
			</if>
			<if test="value != null">
		          value = #{value, jdbcType=VARCHAR},  <!-- 参数值 -->
			</if>
			<if test="type != null">
		          type = #{type, jdbcType=VARCHAR},  <!-- 所属分类 -->
			</if>
			<if test="update_time != null">
		          update_time = #{update_time, jdbcType=TIMESTAMP},  <!-- 更新时间 -->
			</if>
			<if test="remark != null">
		          remark = #{remark, jdbcType=VARCHAR},  <!-- 备注 -->
			</if>
		</set>
		WHERE  param_key = #{param_key}
	</update>
	
	<!-- 根据唯一键[ukey1]删除数据实体对象 -->
	<delete id="deleteByUkey1">
		DELETE FROM my_param WHERE  param_key = #{param_key}
	</delete>

	<!-- 根据唯一键[ukey1]查询并返回数据实体对象 -->
	<select id="selectByUkey1" resultType="MyParamEntity">
		SELECT
		<include refid="column" />
		FROM my_param WHERE  param_key = #{param_key}
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id,  <!-- 流水号 -->
		  name,  <!-- 参数名称 -->
		  param_key,  <!-- 参数键 -->
		  value,  <!-- 参数值 -->
		  type,  <!-- 所属分类 -->
		  update_time,  <!-- 更新时间 -->
		  remark  <!-- 备注 -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  my_param.id,  <!-- 流水号 -->
		  my_param.name,  <!-- 参数名称 -->
		  my_param.param_key,  <!-- 参数键 -->
		  my_param.value,  <!-- 参数值 -->
		  my_param.type,  <!-- 所属分类 -->
		  my_param.update_time,  <!-- 更新时间 -->
		  my_param.remark  <!-- 备注 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id != null ">
		      AND id = #{id}  <!-- 流水号 -->
		</if>
	    <if test="name != null and name != ''">
		      AND name = #{name}  <!-- 参数名称 -->
		</if>
	    <if test="param_key != null and param_key != ''">
		      AND param_key = #{param_key}  <!-- 参数键 -->
		</if>
	    <if test="value != null and value != ''">
		      AND value = #{value}  <!-- 参数值 -->
		</if>
	    <if test="type != null and type != ''">
		      AND type = #{type}  <!-- 所属分类 -->
		</if>
	   <if test="update_time != null ">
		      AND update_time = #{update_time}  <!-- 更新时间 -->
		</if>
	    <if test="remark != null and remark != ''">
		      AND remark = #{remark}  <!-- 备注 -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="name != null and name != ''">
		      AND name like '${name}%'  <!-- 参数名称 -->
		</if>
	    <if test="param_key != null and param_key != ''">
		      AND param_key like '${param_key}%'  <!-- 参数键 -->
		</if>
	    <if test="value != null and value != ''">
		      AND value like '${value}%'  <!-- 参数值 -->
		</if>
	    <if test="type != null and type != ''">
		      AND type like '${type}%'  <!-- 所属分类 -->
		</if>
	    <if test="remark != null and remark != ''">
		      AND remark like '${remark}%'  <!-- 备注 -->
		</if>
	</sql>
	
</mapper>