package ${package};

import cn.osworks.aos.base.typewrap.PO;
#if(${importDto.bigDecimal})
import java.math.BigDecimal;
#end
#if(${importDto.data})
import java.util.Date;
#end
#if(${importDto.timestamp})
import java.sql.Timestamp;
#end
##java.lang.*下的类型不需要导入

/**
 * <b>${tableVO.comment}[${tableVO.name}]数据持久化对象</b>
 * <p>
 * 注意:此类代码自动生成-禁止手工修改。
 * </p>
 * 
 * @author $!author
 * @date $!sysdate
 */
public class ${tableVO.upname}PO extends PO {

	private static final long serialVersionUID = 1L;

##变量声明
#foreach($columnVO in $columnVOs)
	/**
	 * ${columnVO.comment}
	 */
	private ${columnVO.javatype} ${columnVO.name};
	
#end

##get方法
#foreach($columnVO in $columnVOs)
	/**
	 * ${columnVO.comment}
	 * 
	 * @return ${columnVO.name}
	 */
	public ${columnVO.javatype} get${columnVO.upname}() {
		return ${columnVO.name};
	}
	
#end

##set方法
#foreach($columnVO in $columnVOs)
	/**
	 * ${columnVO.comment}
	 * 
	 * @param ${columnVO.name}
	 */
	public void set${columnVO.upname}(${columnVO.javatype} ${columnVO.name}) {
		this.${columnVO.name} = ${columnVO.name};
	}
	
#end

}