<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 提示1：自定义sql手工映射大部分时候为复杂的多表联合查询的SQL，单表操作都应该统一使用mybatis plus的API -->
<!-- 提示2：盘古开发框架建议尽可能使用单表业务，尽量避免多表联合 -->
<mapper namespace="com.pulanit.pangu.admin.system.dao.mapper2.CommonMapper">

    <select id="listUnGrantedUsersByRoleId" resultType="com.pulanit.pangu.admin.system.api.param.UserOut">
        SELECT id, user_name, name, avatar, dept_id
        FROM user
        WHERE id NOT IN (SELECT user_id FROM user_role WHERE role_id = #{param.roleId} AND deleted = 0)
        <if test="param.deptId!=null">
           AND user.dept_id = #{param.deptId}
        </if>
        <if test="param.name!=null and param.name!=''">
            AND user.name like '${param.name}%'
        </if>
          AND deleted = 0
    </select>

</mapper>