##注册事件监听器
#parse("${vmpath}ext/subvm/listeners.vm")

##NumberField定义
var ${id}_cfg = {
#parse("${vmpath}ext/common/formItemTagSupport.vm")
#if($maxValue)
    maxValue:$maxValue,
#end
#if($minValue)
    minValue:$minValue,
#end
#if($step)
    step:$step,
#end
#if($hideTrigger)
    hideTrigger:$hideTrigger,
#end
#if($keyNavEnabled)
    keyNavEnabled:$keyNavEnabled,
#end
#if($mouseWheelEnabled)
    mouseWheelEnabled:$mouseWheelEnabled,
#end
#if($allowDecimals)
    allowDecimals:$allowDecimals,
#end
#if($decimalPrecision)
    decimalPrecision:$decimalPrecision,
#end
    app:169	
};
##NumberField实例化
#if($instance == "true")
var ${id} = Ext.create('Ext.form.field.Number',${id}_cfg);
#end

##组件常用事件绑定
#parse("${vmpath}ext/subvm/events.vm")

##表单元素组件实例后设置
#parse("${vmpath}ext/subvm/afterFormFieldCreated.vm")