<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyClouds：组织机构表单：修改</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
	</head>
	<body>

		<form class="layui-form" style="padding: 20px 30px 0 0;" lay-filter="org-form">
			<input type="hidden" name="id" />
			<div class="layui-form-item">
				<label class="layui-form-label">上级组织</label>
				<div class="layui-input-block">
					<input type="text" name="parent_name" disabled class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">组织名称</label>
				<div class="layui-input-block">
					<input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">组织类型</label>
				<div class="layui-input-block">
					<select name="type" lay-verify="required">
						<option value="1" selected>缺省</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">排序号</label>
				<div class="layui-input-block">
					<input type="number" name="sort_no" lay-verify="required" value="1" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">业务扩展码</label>
				<div class="layui-input-block">
					<input type="text" name="biz_code" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">扩展属性</label>
				<div class="layui-input-block">
					<textarea name="ext" placeholder="JSON字符串" autocomplete="off" class="layui-textarea"></textarea>
				</div>
			</div>

			<div class="layui-form-item layui-hide">
				<input type="button" lay-submit lay-filter="btn-edit-submit" id="btn-edit-submit" value="修改提交">
			</div>
		</form>
	</body>
	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		var base = '../../layuiadmin/';
		layui.config({
			base: base
		}).extend({
			index: 'lib/index'
		}).use(['index', 'form', 'myutil'], function() {
			var $ = layui.$,
				myutil = layui.myutil,
				form = layui.form;
			myutil.init();
			var id = myutil.pathVar('id');
			if (id) {
				myutil.ajax({
					url: layui.setter.my.surl + 'admin/system/org/get',
					data: {
						id: id
					},
					ok: function(res) {
						form.val("org-form", res.data);
					}
				});
			}

			//修改
			form.on('submit(btn-edit-submit)', function(data) {
				var win = parent.layer.getFrameIndex(window.name);
				myutil.ajax({
					url: layui.setter.my.surl + 'admin/system/org/update',
					data: data.field,
					ok: function(res) {
						layer.alert(res.msg, {
							icon: 1
						}, function() {
							parent.layer.close(win);
						});
						parent.layui.treeGrid.query('t-org');
					}
				});
			});

		});
	</script>

</html>
