@CHARSET "UTF-8";

/* body样式 */
body {
	overflow: hidden;
	/* //TODO：统一调整字体，参考新浪微博 */
	/* font-family: Arial, 'Microsoft YaHei' !important; */
}

/* Trigger自定义组件使用 */
.icon-add {
    background-image: url(../../static/icon/add.png) !important;
 }
.trigger-search1{
    background-image: url(../../static/icon/triggerfield/trigger-search1.png) !important;
 }
.trigger-add {
    background-image: url(../../static/icon/triggerfield/trigger-add.png) !important;
 }
.trigger-clear1{
    background-image: url(../../static/icon/triggerfield/trigger-clear1.png) !important;
 }
.trigger-clear2 {
    background-image: url(../../static/icon/triggerfield/trigger-clear2.png) !important;
 }
 .trigger-filter{
    background-image: url(../../static/icon/triggerfield/trigger-filter.png) !important;
 }

/*粗体文本*/
.app-bold {
	font-size: 18px;
	font-weight: bold;
}

/* 必录项的高亮提醒 */
.mustinput-label{
	color: red;
	font-weight: bold;
}

/*常规体文本*/
.app-normal {
	font-weight: normal;
}

/* 手型鼠标 */
.app_cursor_pointer{
	cursor: pointer;
}

/*容器类组件标题文本1*/
.app-container-title-normal {
	font-size: 13px;
	font-weight: normal;
}

/*容器类组件标题文本2*/
.app-container-title-bold{
	font-size: 13px;
	font-weight: bold;
}

/*表格列标题文本*/
.app-grid-column-header {
	font-weight: normal;
}

/* 表单元素输入框区域样式 fieldCls属性：去掉输入框内区域的立体效果 */ 
.app-form-fieldcls { 
	background: #FFFFFF;
}

/* 等待提示框使用的动画图标 */
.app-wait-msg-saving {
    background: url("../../static/image/gif/ajax7.gif") no-repeat scroll 6px 0px transparent;
    height: 32px!important;
}

/* 状态栏专用开始 */
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
    background-image: url(../../static/image/gif/ajax.gif);
}
/* 状态栏专用结束 */

/* =========滑动提示框 >>========== */
.ux-notification-window .x-window-body {
	text-align: left;
	padding: 10px 5px 10px 5px;
	line-height:20px;
	background-color:#FFFFFF;
}
.ux-notification-light .x-window-header {
	background-color: transparent;
	border:none;
}
.ux-notification-light .x-window-body {
	padding: 5px 8px 10px 8px;
	background-color: transparent;
	line-height:20px;
	border:none;
}
/* =========<<滑动提示框结束========== */

/* =========Webkit 滚动条开始========== */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #CCCCCC;
	height: 50px;
	outline-offset: -2px;
	outline: 2px solid white;
	-webkit-border-radius: 4px;
	border: 2px solid white;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #999999;
	height: 50px;
	-webkit-border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
	background-color: white;
	-webkit-border-radius: 0;
}
/* =========Webkit 滚动条结束========== */
