<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 组织机构模块SQL映射 -->
<mapper namespace="sql.org">

   	<!-- 根据Dto查询并返回组织机构数据实体对象集合 -->
	<select id="listOrg" parameterType="Dto" resultType="MyOrgEntity">
		SELECT
			<include refid="com.gitee.myclouds.system.domain.myorg.MyOrgMapper.column" />
		FROM my_org
		<where>
			<if test="name != null and name != ''">
				AND name like '%${name}%'
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
		</where>
		ORDER BY sort_no ASC, id DESC
	</select>

	<!-- 删除my_user关联数据 -->
	<select id="deleteMyUser" parameterType="Integer">
		DELETE
		FROM my_user WHERE org_id = #{org_id}
	</select>
	
	<!-- 统计子节点数 -->
	<select id="countOrgs" parameterType="Integer" resultType="Integer">
		SELECT
		count(1) AS total
		FROM my_org WHERE parent_id = #{parent_id}
	</select>
	
	<!-- 查询组织树集合 -->
	<select id="listOrgTree" resultType="TreeNodeVO" parameterType="Dto">
	    SELECT
			id,
			parent_id AS pId,
			name AS label
		FROM
			my_org
         ORDER BY sort_no ASC, id DESC
	</select>

</mapper>