##注册事件监听器
#parse("${vmpath}ext/subvm/listeners.vm")

##FileField定义
var ${id}_cfg = {
#parse("${vmpath}ext/common/formItemTagSupport.vm")
#if($buttonText)
    buttonText:'$buttonText',
#end
    app:169	
};
##FileField实例化
var ${id} = Ext.create('Ext.form.field.File',${id}_cfg);

##组件常用事件绑定
#parse("${vmpath}ext/subvm/events.vm")

##表单元素组件实例后设置
#parse("${vmpath}ext/subvm/afterFormFieldCreated.vm")