##注册事件监听器
#parse("${vmpath}ext/subvm/listeners.vm")

##RadioboxField定义
var ${id}_cfg = {
#parse("${vmpath}ext/common/formItemTagSupport.vm")
#if($boxLabel)
    boxLabel:'$boxLabel',
#end
#if($boxLabelAlign)
    boxLabelAlign:'$boxLabelAlign',
#end
#if($inputValue)
    inputValue:'$inputValue',
#end
#if($checked)
    checked:$checked,
#end
    app:169	
};
##RadioboxField实例化
#if($instance == "true")
var ${id} = Ext.create('Ext.form.field.Radio',${id}_cfg);
#end

##组件常用事件绑定
#parse("${vmpath}ext/subvm/events.vm")