<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 流程历史数据查询使用的SQL语句 -->
<mapper namespace="History">
    
    <!-- 查询流程任务数据  -->
    <select id="listTasksPage" parameterType="Dto" resultType="Dto">
        SELECT
        (SELECT name_ FROM aos_bp_act_hi_procinst WHERE id_ = aos_bp_act_hi_taskinst.proc_inst_id_ AND super_process_instance_id_ IS NULL) AS proc_inst_name_,
        (SELECT name_ FROM aos_au_user WHERE id_ = aos_bp_act_hi_taskinst.owner_) AS owner__user_,
        (SELECT name_ FROM aos_au_user WHERE id_ = aos_bp_act_hi_taskinst.assignee_) AS assignee_user_,
        duration_/1000 AS duration_s_,
        <include refid="cn.osworks.aos.modules.bpm.dao.mapper.Aos_bp_act_hi_taskinstMapper.column"/>
        FROM aos_bp_act_hi_taskinst
        <where>
	        <if test="proctask_status_ == 2">
	            <!-- 办结任务 -->	            
	            AND end_time_ IS NOT NULL
	        </if>
            <if test="name_ != null and name_ != ''">
                AND name_ LIKE '%${name_}%'
            </if>
            <if test="proc_inst_id_ != null and proc_inst_id_ != ''">
                AND proc_inst_id_ = #{proc_inst_id_}
            </if>
            <if test="assignee_ != null and assignee_ != ''">
                AND assignee_ = #{assignee_}
            </if>
        </where>
        ORDER BY start_time_ DESC
    </select>
    
</mapper>