<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 身份认证模块SQL映射 -->
<mapper namespace="sql.auth">
	<!-- 插入临时表数据 -->
	<insert id="insertTemp" useGeneratedKeys="true" keyProperty="id" parameterType="String">
		INSERT INTO my_temp (device) VALUES (#{device, jdbcType=VARCHAR})
	</insert>
</mapper>