<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户配置表[aos_sys_user_cfg]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2016-01-24 18:11:09 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_sys_user_cfgMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_sys_user_cfgPO">
		INSERT INTO aos_sys_user_cfg (
		<if test="theme_ != null and theme_ != ''">
	         theme_, <!-- 用户界面主题 -->
		</if>
		<if test="skin_ != null and skin_ != ''">
	         skin_, <!-- 用户界面皮肤 -->
		</if>
		<if test="is_show_top_nav_ != null and is_show_top_nav_ != ''">
	         is_show_top_nav_, <!-- 是否显示水平导航条 -->
		</if>
		<if test="navbar_btn_style_ != null and navbar_btn_style_ != ''">
	         navbar_btn_style_, <!-- 导航条按钮风格 -->
		</if>
		<if test="tab_focus_color_ != null and tab_focus_color_ != ''">
	         tab_focus_color_, <!-- Tab高亮颜色 -->
		</if>
		<if test="nav_tab_index_ != null and nav_tab_index_ != ''">
	         nav_tab_index_, <!-- 导航缺省活动页 -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- 用户ID -->
	   </if>
		)VALUES(
		<if test="theme_ != null and theme_ != ''">
	          #{theme_, jdbcType=VARCHAR}, <!-- 用户界面主题 -->
	    </if>
		<if test="skin_ != null and skin_ != ''">
	          #{skin_, jdbcType=VARCHAR}, <!-- 用户界面皮肤 -->
	    </if>
		<if test="is_show_top_nav_ != null and is_show_top_nav_ != ''">
	          #{is_show_top_nav_, jdbcType=VARCHAR}, <!-- 是否显示水平导航条 -->
	    </if>
		<if test="navbar_btn_style_ != null and navbar_btn_style_ != ''">
	          #{navbar_btn_style_, jdbcType=VARCHAR}, <!-- 导航条按钮风格 -->
	    </if>
		<if test="tab_focus_color_ != null and tab_focus_color_ != ''">
	          #{tab_focus_color_, jdbcType=VARCHAR}, <!-- Tab高亮颜色 -->
	    </if>
		<if test="nav_tab_index_ != null and nav_tab_index_ != ''">
	          #{nav_tab_index_, jdbcType=VARCHAR}, <!-- 导航缺省活动页 -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- 用户ID -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_sys_user_cfgPO">
		INSERT INTO aos_sys_user_cfg (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- 用户ID -->
		    #{theme_, jdbcType=VARCHAR},  <!-- 用户界面主题 -->
		    #{skin_, jdbcType=VARCHAR},  <!-- 用户界面皮肤 -->
		    #{is_show_top_nav_, jdbcType=VARCHAR},  <!-- 是否显示水平导航条 -->
		    #{navbar_btn_style_, jdbcType=VARCHAR},  <!-- 导航条按钮风格 -->
		    #{tab_focus_color_, jdbcType=VARCHAR},  <!-- Tab高亮颜色 -->
		    #{nav_tab_index_, jdbcType=VARCHAR}  <!-- 导航缺省活动页 -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_sys_user_cfgPO">
		UPDATE aos_sys_user_cfg
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- 用户ID -->
			</if>
			<if test="theme_ != null">
		          theme_ = #{theme_, jdbcType=VARCHAR},  <!-- 用户界面主题 -->
			</if>
			<if test="skin_ != null">
		          skin_ = #{skin_, jdbcType=VARCHAR},  <!-- 用户界面皮肤 -->
			</if>
			<if test="is_show_top_nav_ != null">
		          is_show_top_nav_ = #{is_show_top_nav_, jdbcType=VARCHAR},  <!-- 是否显示水平导航条 -->
			</if>
			<if test="navbar_btn_style_ != null">
		          navbar_btn_style_ = #{navbar_btn_style_, jdbcType=VARCHAR},  <!-- 导航条按钮风格 -->
			</if>
			<if test="tab_focus_color_ != null">
		          tab_focus_color_ = #{tab_focus_color_, jdbcType=VARCHAR},  <!-- Tab高亮颜色 -->
			</if>
			<if test="nav_tab_index_ != null">
		          nav_tab_index_ = #{nav_tab_index_, jdbcType=VARCHAR},  <!-- 导航缺省活动页 -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_sys_user_cfg WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_sys_user_cfgPO">
		SELECT
		<include refid="column" />
		FROM aos_sys_user_cfg WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_sys_user_cfgPO">
		SELECT
		    <include refid="column" />
		FROM aos_sys_user_cfg
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_sys_user_cfgPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_user_cfg
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_sys_user_cfgPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_user_cfg
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_sys_user_cfgPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_user_cfg
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_sys_user_cfgPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_user_cfg
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_sys_user_cfg
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_sys_user_cfg
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- 用户ID -->
		  theme_,  <!-- 用户界面主题 -->
		  skin_,  <!-- 用户界面皮肤 -->
		  is_show_top_nav_,  <!-- 是否显示水平导航条 -->
		  navbar_btn_style_,  <!-- 导航条按钮风格 -->
		  tab_focus_color_,  <!-- Tab高亮颜色 -->
		  nav_tab_index_  <!-- 导航缺省活动页 -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_sys_user_cfg.id_,  <!-- 用户ID -->
		  aos_sys_user_cfg.theme_,  <!-- 用户界面主题 -->
		  aos_sys_user_cfg.skin_,  <!-- 用户界面皮肤 -->
		  aos_sys_user_cfg.is_show_top_nav_,  <!-- 是否显示水平导航条 -->
		  aos_sys_user_cfg.navbar_btn_style_,  <!-- 导航条按钮风格 -->
		  aos_sys_user_cfg.tab_focus_color_,  <!-- Tab高亮颜色 -->
		  aos_sys_user_cfg.nav_tab_index_  <!-- 导航缺省活动页 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- 用户ID -->
		</if>
	    <if test="theme_ != null and theme_ != ''">
		      AND theme_ = #{theme_}  <!-- 用户界面主题 -->
		</if>
	    <if test="skin_ != null and skin_ != ''">
		      AND skin_ = #{skin_}  <!-- 用户界面皮肤 -->
		</if>
	    <if test="is_show_top_nav_ != null and is_show_top_nav_ != ''">
		      AND is_show_top_nav_ = #{is_show_top_nav_}  <!-- 是否显示水平导航条 -->
		</if>
	    <if test="navbar_btn_style_ != null and navbar_btn_style_ != ''">
		      AND navbar_btn_style_ = #{navbar_btn_style_}  <!-- 导航条按钮风格 -->
		</if>
	    <if test="tab_focus_color_ != null and tab_focus_color_ != ''">
		      AND tab_focus_color_ = #{tab_focus_color_}  <!-- Tab高亮颜色 -->
		</if>
	    <if test="nav_tab_index_ != null and nav_tab_index_ != ''">
		      AND nav_tab_index_ = #{nav_tab_index_}  <!-- 导航缺省活动页 -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- 用户ID -->
		</if>
	    <if test="theme_ != null and theme_ != ''">
		      AND theme_ like '%${theme_}%'  <!-- 用户界面主题 -->
		</if>
	    <if test="skin_ != null and skin_ != ''">
		      AND skin_ like '%${skin_}%'  <!-- 用户界面皮肤 -->
		</if>
	    <if test="is_show_top_nav_ != null and is_show_top_nav_ != ''">
		      AND is_show_top_nav_ like '%${is_show_top_nav_}%'  <!-- 是否显示水平导航条 -->
		</if>
	    <if test="navbar_btn_style_ != null and navbar_btn_style_ != ''">
		      AND navbar_btn_style_ like '%${navbar_btn_style_}%'  <!-- 导航条按钮风格 -->
		</if>
	    <if test="tab_focus_color_ != null and tab_focus_color_ != ''">
		      AND tab_focus_color_ like '%${tab_focus_color_}%'  <!-- Tab高亮颜色 -->
		</if>
	    <if test="nav_tab_index_ != null and nav_tab_index_ != ''">
		      AND nav_tab_index_ like '%${nav_tab_index_}%'  <!-- 导航缺省活动页 -->
		</if>
	</sql>
	
</mapper>