<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据字典模块SQL映射 -->
<mapper namespace="sql.dict">

	<!-- 根据Dto查询数据字典 -->
	<select id="pageDict" parameterType="Dto" resultType="MyDictEntity">
		SELECT
		<include refid="com.gitee.myclouds.system.domain.mydict.MyDictMapper.column" />
		FROM my_dict
		<include refid="pageDictWhere" />
		ORDER BY dict_type, sort_no LIMIT ${start},${length}
	</select>
	<select id="pageDictCount" parameterType="Dto" resultType="Integer">
		SELECT
		count(1) AS total
		FROM my_dict
		<include refid="pageDictWhere" />
	</select>
	<sql id="pageDictWhere">
		<where>
		    <!-- 提示：业务代码如果需要模糊查询，只能后匹配不能前后匹配，否则会全表扫描。 -->
		    <if test="dict_type_name != null and dict_type_name != ''">
				AND (dict_type LIKE '%${dict_type_name}%' OR dict_name LIKE '%${dict_type_name}%')
			</if>
			<if test="dict_key_value != null and dict_key_value != ''">
				AND (dict_key LIKE '%${dict_key_value}%' OR dict_value LIKE '%${dict_key_value}%')
			</if>
			<if test="is_enable != null and is_enable != ''">
				AND is_enable = #{is_enable}
			</if>
		</where>
	</sql>

</mapper>