<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据字典模块SQL映射 -->
<mapper namespace="sql.dict">

	<!-- 根据Dto查询并返回枚举类型数据实体对象集合 -->
	<select id="pageDict" parameterType="Dto" resultType="MyDictEntity">
		SELECT
		<include refid="com.gitee.myclouds.system.domain.mydict.MyDictMapper.column" />
		FROM my_dict
		<include refid="pageDictWhere" />
		ORDER BY dict_key, sort_no LIMIT ${start},${length}
	</select>
	<select id="pageDictCount" parameterType="Dto" resultType="Integer">
		SELECT
		count(1) AS total
		FROM my_dict
		<include refid="pageDictWhere" />
	</select>
	<sql id="pageDictWhere">
		<where>
			<if test="dict_name != null and dict_name != ''">
				AND dict_name like '%${dict_name}%'
			</if>
			<if test="dict_key != null and dict_key != ''">
				AND dict_key like '%${dict_key}%'
			</if>
			<if test="is_enable != null and is_enable != ''">
				AND is_enable = #{is_enable}
			</if>
			<if test="sys_key != null and sys_key != ''">
				AND sys_key = #{sys_key}
			</if>
		</where>
	</sql>

</mapper>