<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 岗位表[aos_sys_post]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-12-22 22:10:31 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_sys_postMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_sys_postPO">
		INSERT INTO aos_sys_post (
		<if test="name_ != null and name_ != ''">
	         name_, <!-- 岗位名称 -->
		</if>
		<if test="status_ != null and status_ != ''">
	         status_, <!-- 当前状态 -->
		</if>
		<if test="type_ != null and type_ != ''">
	         type_, <!-- 岗位类型 -->
		</if>
		<if test="org_id_ != null and org_id_ != ''">
	         org_id_, <!-- 所属部门流水号 -->
		</if>
		<if test="create_time_ != null and create_time_ != ''">
	         create_time_, <!-- 创建时间 -->
		</if>
		<if test="creater_id_ != null and creater_id_ != ''">
	         creater_id_, <!-- 创建人ID -->
		</if>
		<if test="org_cascade_id_ != null and org_cascade_id_ != ''">
	         org_cascade_id_, <!-- 所属部门节点语义ID -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!--  流水号 -->
	   </if>
		)VALUES(
		<if test="name_ != null and name_ != ''">
	          #{name_, jdbcType=VARCHAR}, <!-- 岗位名称 -->
	    </if>
		<if test="status_ != null and status_ != ''">
	          #{status_, jdbcType=VARCHAR}, <!-- 当前状态 -->
	    </if>
		<if test="type_ != null and type_ != ''">
	          #{type_, jdbcType=VARCHAR}, <!-- 岗位类型 -->
	    </if>
		<if test="org_id_ != null and org_id_ != ''">
	          #{org_id_, jdbcType=VARCHAR}, <!-- 所属部门流水号 -->
	    </if>
		<if test="create_time_ != null and create_time_ != ''">
	          #{create_time_, jdbcType=VARCHAR}, <!-- 创建时间 -->
	    </if>
		<if test="creater_id_ != null and creater_id_ != ''">
	          #{creater_id_, jdbcType=VARCHAR}, <!-- 创建人ID -->
	    </if>
		<if test="org_cascade_id_ != null and org_cascade_id_ != ''">
	          #{org_cascade_id_, jdbcType=VARCHAR}, <!-- 所属部门节点语义ID -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!--  流水号 -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_sys_postPO">
		INSERT INTO aos_sys_post (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!--  流水号 -->
		    #{name_, jdbcType=VARCHAR},  <!-- 岗位名称 -->
		    #{status_, jdbcType=VARCHAR},  <!-- 当前状态 -->
		    #{type_, jdbcType=VARCHAR},  <!-- 岗位类型 -->
		    #{org_id_, jdbcType=VARCHAR},  <!-- 所属部门流水号 -->
		    #{create_time_, jdbcType=VARCHAR},  <!-- 创建时间 -->
		    #{creater_id_, jdbcType=VARCHAR},  <!-- 创建人ID -->
		    #{org_cascade_id_, jdbcType=VARCHAR}  <!-- 所属部门节点语义ID -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_sys_postPO">
		UPDATE aos_sys_post
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!--  流水号 -->
			</if>
			<if test="name_ != null">
		          name_ = #{name_, jdbcType=VARCHAR},  <!-- 岗位名称 -->
			</if>
			<if test="status_ != null">
		          status_ = #{status_, jdbcType=VARCHAR},  <!-- 当前状态 -->
			</if>
			<if test="type_ != null">
		          type_ = #{type_, jdbcType=VARCHAR},  <!-- 岗位类型 -->
			</if>
			<if test="org_id_ != null">
		          org_id_ = #{org_id_, jdbcType=VARCHAR},  <!-- 所属部门流水号 -->
			</if>
			<if test="create_time_ != null">
		          create_time_ = #{create_time_, jdbcType=VARCHAR},  <!-- 创建时间 -->
			</if>
			<if test="creater_id_ != null">
		          creater_id_ = #{creater_id_, jdbcType=VARCHAR},  <!-- 创建人ID -->
			</if>
			<if test="org_cascade_id_ != null">
		          org_cascade_id_ = #{org_cascade_id_, jdbcType=VARCHAR},  <!-- 所属部门节点语义ID -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_sys_post WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_sys_postPO">
		SELECT
		<include refid="column" />
		FROM aos_sys_post WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_sys_postPO">
		SELECT
		    <include refid="column" />
		FROM aos_sys_post
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_sys_postPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_post
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_sys_postPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_post
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_sys_postPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_post
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_sys_postPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_post
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_sys_post
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_sys_post
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!--  流水号 -->
		  name_,  <!-- 岗位名称 -->
		  status_,  <!-- 当前状态 -->
		  type_,  <!-- 岗位类型 -->
		  org_id_,  <!-- 所属部门流水号 -->
		  create_time_,  <!-- 创建时间 -->
		  creater_id_,  <!-- 创建人ID -->
		  org_cascade_id_  <!-- 所属部门节点语义ID -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_sys_post.id_,  <!--  流水号 -->
		  aos_sys_post.name_,  <!-- 岗位名称 -->
		  aos_sys_post.status_,  <!-- 当前状态 -->
		  aos_sys_post.type_,  <!-- 岗位类型 -->
		  aos_sys_post.org_id_,  <!-- 所属部门流水号 -->
		  aos_sys_post.create_time_,  <!-- 创建时间 -->
		  aos_sys_post.creater_id_,  <!-- 创建人ID -->
		  aos_sys_post.org_cascade_id_  <!-- 所属部门节点语义ID -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!--  流水号 -->
		</if>
	    <if test="name_ != null and name_ != ''">
		      AND name_ = #{name_}  <!-- 岗位名称 -->
		</if>
	    <if test="status_ != null and status_ != ''">
		      AND status_ = #{status_}  <!-- 当前状态 -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ = #{type_}  <!-- 岗位类型 -->
		</if>
	    <if test="org_id_ != null and org_id_ != ''">
		      AND org_id_ = #{org_id_}  <!-- 所属部门流水号 -->
		</if>
	    <if test="create_time_ != null and create_time_ != ''">
		      AND create_time_ = #{create_time_}  <!-- 创建时间 -->
		</if>
	    <if test="creater_id_ != null and creater_id_ != ''">
		      AND creater_id_ = #{creater_id_}  <!-- 创建人ID -->
		</if>
	    <if test="org_cascade_id_ != null and org_cascade_id_ != ''">
		      AND org_cascade_id_ = #{org_cascade_id_}  <!-- 所属部门节点语义ID -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!--  流水号 -->
		</if>
	    <if test="name_ != null and name_ != ''">
		      AND name_ like '%${name_}%'  <!-- 岗位名称 -->
		</if>
	    <if test="status_ != null and status_ != ''">
		      AND status_ like '%${status_}%'  <!-- 当前状态 -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ like '%${type_}%'  <!-- 岗位类型 -->
		</if>
	    <if test="org_id_ != null and org_id_ != ''">
		      AND org_id_ like '%${org_id_}%'  <!-- 所属部门流水号 -->
		</if>
	    <if test="create_time_ != null and create_time_ != ''">
		      AND create_time_ like '%${create_time_}%'  <!-- 创建时间 -->
		</if>
	    <if test="creater_id_ != null and creater_id_ != ''">
		      AND creater_id_ like '%${creater_id_}%'  <!-- 创建人ID -->
		</if>
	    <if test="org_cascade_id_ != null and org_cascade_id_ != ''">
		      AND org_cascade_id_ like '%${org_cascade_id_}%'  <!-- 所属部门节点语义ID -->
		</if>
	</sql>
	
</mapper>