<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- aos_wf_ge_property[aos_wf_ge_property]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-12-22 22:10:32 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_wf_ge_propertyMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_wf_ge_propertyPO">
		INSERT INTO aos_wf_ge_property (
		<if test="value_ != null and value_ != ''">
	         value_, <!-- value_ -->
		</if>
		<if test="rev_ != null">
	         rev_, <!-- rev_ -->
		</if>
		<if test="name_ != null and name_ != ''">
	          name_  <!-- name_ -->
	   </if>
		)VALUES(
		<if test="value_ != null and value_ != ''">
	          #{value_, jdbcType=VARCHAR}, <!-- value_ -->
	    </if>
		<if test="rev_ != null">
	          #{rev_, jdbcType=INTEGER}, <!-- rev_ -->
	    </if>
		<if test="name_ != null and name_ != ''">
		     #{name_, jdbcType=VARCHAR}  <!-- name_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_wf_ge_propertyPO">
		INSERT INTO aos_wf_ge_property (
		    <include refid="column" />
		)
		VALUES (
		    #{name_, jdbcType=VARCHAR},  <!-- name_ -->
		    #{value_, jdbcType=VARCHAR},  <!-- value_ -->
		    #{rev_, jdbcType=INTEGER}  <!-- rev_ -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_wf_ge_propertyPO">
		UPDATE aos_wf_ge_property
		<set>
			<if test="name_ != null">
		          name_ = #{name_, jdbcType=VARCHAR},  <!-- name_ -->
			</if>
			<if test="value_ != null">
		          value_ = #{value_, jdbcType=VARCHAR},  <!-- value_ -->
			</if>
			<if test="rev_ != null">
		          rev_ = #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
			</if>
		</set>
		WHERE  name_ = #{name_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_wf_ge_property WHERE  name_ = #{name_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_wf_ge_propertyPO">
		SELECT
		<include refid="column" />
		FROM aos_wf_ge_property WHERE  name_ = #{name_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_wf_ge_propertyPO">
		SELECT
		    <include refid="column" />
		FROM aos_wf_ge_property
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_wf_ge_propertyPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_ge_property
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_wf_ge_propertyPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_ge_property
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_wf_ge_propertyPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_ge_property
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_wf_ge_propertyPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_ge_property
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_wf_ge_property
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_wf_ge_property
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  name_,  <!-- name_ -->
		  value_,  <!-- value_ -->
		  rev_  <!-- rev_ -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_wf_ge_property.name_,  <!-- name_ -->
		  aos_wf_ge_property.value_,  <!-- value_ -->
		  aos_wf_ge_property.rev_  <!-- rev_ -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="name_ != null and name_ != ''">
		      AND name_ = #{name_}  <!-- name_ -->
		</if>
	    <if test="value_ != null and value_ != ''">
		      AND value_ = #{value_}  <!-- value_ -->
		</if>
	   <if test="rev_ != null ">
		      AND rev_ = #{rev_}  <!-- rev_ -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="name_ != null and name_ != ''">
		      AND name_ like '%${name_}%'  <!-- name_ -->
		</if>
	    <if test="value_ != null and value_ != ''">
		      AND value_ like '%${value_}%'  <!-- value_ -->
		</if>
	</sql>
	
</mapper>