##注册事件监听器
#parse("${vmpath}ext/subvm/listeners.vm")

##TextField定义
var ${id}_cfg = {
#parse("${vmpath}ext/common/formItemTagSupport.vm")
#if($maxLength)
    maxLength:$maxLength,
#end
#if($minLength)
    minLength:$minLength,
#end
#if($trigger1Cls)
    trigger1Cls:'$trigger1Cls',
#end
#if($trigger2Cls)
    trigger2Cls:'$trigger2Cls',
#end
#if($trigger3Cls)
    trigger3Cls:'$trigger3Cls',
#end
#if($onTrigger1Click)
    onTrigger1Click:$onTrigger1Click,
#end
#if($onTrigger2Click)
    onTrigger2Click:$onTrigger2Click,
#end
#if($onTrigger3Click)
    onTrigger3Click:$onTrigger3Click,
#end
    app:169	
};
##实例化
#if($instance == "true")
var ${id} = Ext.create('Ext.form.field.Trigger',${id}_cfg);
#end

##组件常用事件绑定
#parse("${vmpath}ext/subvm/events.vm")

##表单元素组件实例后设置
#parse("${vmpath}ext/subvm/afterFormFieldCreated.vm")

