@charset "UTF-8";
/*===============================================
  myclouds.css Helpers
================================================= */
/* 
  * 表单必录项的高亮处理
*/
label.required {
    
}
label.required:before {
    color: #E63F24;
    content: '* ';
    display:inline;
}

/* 表单校验非法提示文本样式 */
em.error{
	color: #E63F24;
	font-style:normal;
}