<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>404 页面不存在</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
		<style type="text/css">
			html {
				background-image: url("../../myadmin/img/bg_login.svg");
				background-position: center 110px;
				background-repeat: no-repeat;
				background-size: 100%;
			}

			.icon-404 {
				line-height: 450px;
				font-size: 450px;
				color: #393D50;
			}

			.msg-404 {
				font-size: 20px;
				font-weight: 300;
				color: #999;
			}
			
			body{
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div>
			<i class="layui-icon layui-icon-404 icon-404"></i>
			<div class="msg-404">
				好干净的页面啊，什么都没有的样子...
			</div>
		</div>
	</body>
	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base: '../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index']);
	</script>

</html>
