<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 组织机构表[my_org]SQL自动映射 -->
<!--  注意:此文件由MyClouds平台自动生成-禁止手工修改 2018-06-29 16:23:30 -->
<mapper namespace="com.gitee.myclouds.admin.domain.myorg.MyOrgMapper">
	
	<!-- 插入一个数据实体对象(插入字段为传入Entity实体的非空属性) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MyOrgEntity">
		INSERT INTO my_org (
		<if test="name != null and name != ''">
	         name, <!-- 组织名称 -->
		</if>
		<if test="parent_id != null">
	         parent_id, <!-- 父节点流水号 -->
		</if>
		<if test="is_expanded != null and is_expanded != ''">
	         is_expanded, <!-- 是否自动展开 -->
		</if>
		<if test="icon != null and icon != ''">
	         icon, <!-- 节点图标 -->
		</if>
		<if test="type != null and type != ''">
	         type, <!-- 组织类型 -->
		</if>
		<if test="biz_code != null and biz_code != ''">
	         biz_code, <!-- 扩展码 -->
		</if>
		<if test="sort_no != null">
	         sort_no, <!-- 排序号 -->
		</if>
		<if test="ext != null and ext != ''">
	         ext, <!-- 扩展JSON -->
		</if>
		<if test="create_time != null">
	         create_time, <!-- 创建时间 -->
		</if>
		<if test="create_by_id != null">
	         create_by_id, <!-- 创建人ID -->
		</if>
		<if test="create_by != null and create_by != ''">
	         create_by, <!-- 创建人 -->
		</if>
		<if test="remark != null and remark != ''">
	         remark, <!-- 备注 -->
		</if>
	          id
		)VALUES(
		<if test="name != null and name != ''">
	          #{name, jdbcType=VARCHAR}, <!-- 组织名称 -->
	    </if>
		<if test="parent_id != null">
	          #{parent_id, jdbcType=INTEGER}, <!-- 父节点流水号 -->
	    </if>
		<if test="is_expanded != null and is_expanded != ''">
	          #{is_expanded, jdbcType=VARCHAR}, <!-- 是否自动展开 -->
	    </if>
		<if test="icon != null and icon != ''">
	          #{icon, jdbcType=VARCHAR}, <!-- 节点图标 -->
	    </if>
		<if test="type != null and type != ''">
	          #{type, jdbcType=VARCHAR}, <!-- 组织类型 -->
	    </if>
		<if test="biz_code != null and biz_code != ''">
	          #{biz_code, jdbcType=VARCHAR}, <!-- 扩展码 -->
	    </if>
		<if test="sort_no != null">
	          #{sort_no, jdbcType=INTEGER}, <!-- 排序号 -->
	    </if>
		<if test="ext != null and ext != ''">
	          #{ext, jdbcType=VARCHAR}, <!-- 扩展JSON -->
	    </if>
		<if test="create_time != null">
	          #{create_time, jdbcType=TIMESTAMP}, <!-- 创建时间 -->
	    </if>
		<if test="create_by_id != null">
	          #{create_by_id, jdbcType=INTEGER}, <!-- 创建人ID -->
	    </if>
		<if test="create_by != null and create_by != ''">
	          #{create_by, jdbcType=VARCHAR}, <!-- 创建人 -->
	    </if>
		<if test="remark != null and remark != ''">
	          #{remark, jdbcType=VARCHAR}, <!-- 备注 -->
	    </if>
	          null
		)
	</insert>
	
	<!-- 插入一个数据实体对象(含所有字段) -->
	<insert id="insertAll" useGeneratedKeys="true" keyProperty="id" parameterType="MyOrgEntity">
		INSERT INTO my_org (
		    <include refid="column" />
		)
		VALUES (
		    #{id, jdbcType=INTEGER},  <!-- 流水号 -->
		    #{name, jdbcType=VARCHAR},  <!-- 组织名称 -->
		    #{parent_id, jdbcType=INTEGER},  <!-- 父节点流水号 -->
		    #{is_expanded, jdbcType=VARCHAR},  <!-- 是否自动展开 -->
		    #{icon, jdbcType=VARCHAR},  <!-- 节点图标 -->
		    #{type, jdbcType=VARCHAR},  <!-- 组织类型 -->
		    #{biz_code, jdbcType=VARCHAR},  <!-- 扩展码 -->
		    #{sort_no, jdbcType=INTEGER},  <!-- 排序号 -->
		    #{ext, jdbcType=VARCHAR},  <!-- 扩展JSON -->
		    #{create_time, jdbcType=TIMESTAMP},  <!-- 创建时间 -->
		    #{create_by_id, jdbcType=INTEGER},  <!-- 创建人ID -->
		    #{create_by, jdbcType=VARCHAR},  <!-- 创建人 -->
		    #{remark, jdbcType=VARCHAR}  <!-- 备注 -->
		)
	</insert>

	<!-- 根据主键修改数据实体对象 -->
	<update id="updateByKey" parameterType="MyOrgEntity">
		UPDATE my_org
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- 流水号 -->
			</if>
			<if test="name != null">
		          name = #{name, jdbcType=VARCHAR},  <!-- 组织名称 -->
			</if>
			<if test="parent_id != null">
		          parent_id = #{parent_id, jdbcType=INTEGER},  <!-- 父节点流水号 -->
			</if>
			<if test="is_expanded != null">
		          is_expanded = #{is_expanded, jdbcType=VARCHAR},  <!-- 是否自动展开 -->
			</if>
			<if test="icon != null">
		          icon = #{icon, jdbcType=VARCHAR},  <!-- 节点图标 -->
			</if>
			<if test="type != null">
		          type = #{type, jdbcType=VARCHAR},  <!-- 组织类型 -->
			</if>
			<if test="biz_code != null">
		          biz_code = #{biz_code, jdbcType=VARCHAR},  <!-- 扩展码 -->
			</if>
			<if test="sort_no != null">
		          sort_no = #{sort_no, jdbcType=INTEGER},  <!-- 排序号 -->
			</if>
			<if test="ext != null">
		          ext = #{ext, jdbcType=VARCHAR},  <!-- 扩展JSON -->
			</if>
			<if test="create_time != null">
		          create_time = #{create_time, jdbcType=TIMESTAMP},  <!-- 创建时间 -->
			</if>
			<if test="create_by_id != null">
		          create_by_id = #{create_by_id, jdbcType=INTEGER},  <!-- 创建人ID -->
			</if>
			<if test="create_by != null">
		          create_by = #{create_by, jdbcType=VARCHAR},  <!-- 创建人 -->
			</if>
			<if test="remark != null">
		          remark = #{remark, jdbcType=VARCHAR},  <!-- 备注 -->
			</if>
		</set>
		WHERE  id = #{id}
	</update>
	
	<!-- 根据主键删除数据实体对象 -->
	<delete id="deleteByKey">
		DELETE FROM my_org WHERE  id = #{id}
	</delete>

	<!-- 根据主键查询并返回数据实体对象 -->
	<select id="selectByKey" resultType="MyOrgEntity">
		SELECT
		<include refid="column" />
		FROM my_org WHERE  id = #{id}
	</select>

	<!-- 根据唯一组合条件查询并返回数据实体对象 -->
	<select id="selectOne" parameterType="Dto" resultType="MyOrgEntity">
		SELECT
		    <include refid="column" />
		FROM my_org
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据实体对象集合 -->
	<select id="list" parameterType="Dto" resultType="MyOrgEntity">
		SELECT
			<include refid="column" />	
		FROM my_org
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据实体对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="MyOrgEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_org
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="MyOrgEntity">
		SELECT
			<include refid="column" />	
		FROM my_org
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="MyOrgEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_org
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM my_org
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM my_org
		<where>
		    <include refid="equal" />
		</where>
	</select>

	
	<!-- 表字段 -->
	<sql id="column">
		  id,  <!-- 流水号 -->
		  name,  <!-- 组织名称 -->
		  parent_id,  <!-- 父节点流水号 -->
		  is_expanded,  <!-- 是否自动展开 -->
		  icon,  <!-- 节点图标 -->
		  type,  <!-- 组织类型 -->
		  biz_code,  <!-- 扩展码 -->
		  sort_no,  <!-- 排序号 -->
		  ext,  <!-- 扩展JSON -->
		  create_time,  <!-- 创建时间 -->
		  create_by_id,  <!-- 创建人ID -->
		  create_by,  <!-- 创建人 -->
		  remark  <!-- 备注 -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  my_org.id,  <!-- 流水号 -->
		  my_org.name,  <!-- 组织名称 -->
		  my_org.parent_id,  <!-- 父节点流水号 -->
		  my_org.is_expanded,  <!-- 是否自动展开 -->
		  my_org.icon,  <!-- 节点图标 -->
		  my_org.type,  <!-- 组织类型 -->
		  my_org.biz_code,  <!-- 扩展码 -->
		  my_org.sort_no,  <!-- 排序号 -->
		  my_org.ext,  <!-- 扩展JSON -->
		  my_org.create_time,  <!-- 创建时间 -->
		  my_org.create_by_id,  <!-- 创建人ID -->
		  my_org.create_by,  <!-- 创建人 -->
		  my_org.remark  <!-- 备注 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id != null ">
		      AND id = #{id}  <!-- 流水号 -->
		</if>
	    <if test="name != null and name != ''">
		      AND name = #{name}  <!-- 组织名称 -->
		</if>
	   <if test="parent_id != null ">
		      AND parent_id = #{parent_id}  <!-- 父节点流水号 -->
		</if>
	    <if test="is_expanded != null and is_expanded != ''">
		      AND is_expanded = #{is_expanded}  <!-- 是否自动展开 -->
		</if>
	    <if test="icon != null and icon != ''">
		      AND icon = #{icon}  <!-- 节点图标 -->
		</if>
	    <if test="type != null and type != ''">
		      AND type = #{type}  <!-- 组织类型 -->
		</if>
	    <if test="biz_code != null and biz_code != ''">
		      AND biz_code = #{biz_code}  <!-- 扩展码 -->
		</if>
	   <if test="sort_no != null ">
		      AND sort_no = #{sort_no}  <!-- 排序号 -->
		</if>
	    <if test="ext != null and ext != ''">
		      AND ext = #{ext}  <!-- 扩展JSON -->
		</if>
	   <if test="create_time != null ">
		      AND create_time = #{create_time}  <!-- 创建时间 -->
		</if>
	   <if test="create_by_id != null ">
		      AND create_by_id = #{create_by_id}  <!-- 创建人ID -->
		</if>
	    <if test="create_by != null and create_by != ''">
		      AND create_by = #{create_by}  <!-- 创建人 -->
		</if>
	    <if test="remark != null and remark != ''">
		      AND remark = #{remark}  <!-- 备注 -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="name != null and name != ''">
		      AND name like '${name}%'  <!-- 组织名称 -->
		</if>
	    <if test="is_expanded != null and is_expanded != ''">
		      AND is_expanded like '${is_expanded}%'  <!-- 是否自动展开 -->
		</if>
	    <if test="icon != null and icon != ''">
		      AND icon like '${icon}%'  <!-- 节点图标 -->
		</if>
	    <if test="type != null and type != ''">
		      AND type like '${type}%'  <!-- 组织类型 -->
		</if>
	    <if test="biz_code != null and biz_code != ''">
		      AND biz_code like '${biz_code}%'  <!-- 扩展码 -->
		</if>
	    <if test="ext != null and ext != ''">
		      AND ext like '${ext}%'  <!-- 扩展JSON -->
		</if>
	    <if test="create_by != null and create_by != ''">
		      AND create_by like '${create_by}%'  <!-- 创建人 -->
		</if>
	    <if test="remark != null and remark != ''">
		      AND remark like '${remark}%'  <!-- 备注 -->
		</if>
	</sql>
	
</mapper>