<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  宠物基础信息表单表SQL映射 [提示：由生成根据自动生成和覆盖，切勿手工维护] -->
<mapper namespace="com.aosuite.showcase.mapper.PetBasicInfoMapper">

	<!-- 根据主键查询实体 -->
	<select id="selectByKey" resultType="PetBasicInfoEntity" parameterType="Integer">
		SELECT id, name, age FROM user WHERE id = #{id}
	</select>
	
</mapper>