@CHARSET "UTF-8";

BODY { /*
	SCROLLBAR-FACE-COLOR: #FFFFFF;
	SCROLLBAR-HIGHLIGHT-COLOR: #61BFF8;
	SCROLLBAR-SHADOW-COLOR: #61BFF8;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-ARROW-COLOR: #61BFF8;
	SCROLLBAR-TRACK-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	SCROLLBAR-BASE-COLOR: #FFFFFF
	*/
	font-family: "宋体";
	font-size: 13px;
}

/* 解决IE下PNG图片透明Bug */
.IEPNG {
	behavior: url(./resource/htc/iepngfix.htc);
}

/* 管理首页Frame样式 */
.mainFrame {
	width: 100%;
	height: 100%;
	border-style: none;
}

/** 如下为解决Ext表单元素禁用状态字体模糊的办法
  *  IE下还是解决不了
  */
.x-custom-field-disabled {
	color: black !important;
	color: black;
	background: #F0F8FF;
}

/* 树节点被选中后的状态 */
.node_checked .x-tree-node-anchor span {
	text-decoration: line-through;
	color: #777;
}

.font12{
	font-family: "宋体";
	font-size: 12px
}

.user {
	background: url(../image/ext/user.gif) no-repeat 2px 2px ;
}

.key {
	background: url(../image/ext/key.gif) no-repeat 2px 2px;
}

.key,.user {
	background-color: #FFFFFF;
	padding-left: 20px;
	font-size: 12px;
}

span.commoncss,div.commoncss{
	font-size: 12px;
	font-weight:normal;
}

.mustinput{
	color:blue;
}

.noYScrollBar{
	overflow-y:hidden;
}