<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- aos_wf_hi_attachment[aos_wf_hi_attachment]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-12-22 22:10:32 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_wf_hi_attachmentMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_wf_hi_attachmentPO">
		INSERT INTO aos_wf_hi_attachment (
		<if test="rev_ != null">
	         rev_, <!-- rev_ -->
		</if>
		<if test="user_id_ != null and user_id_ != ''">
	         user_id_, <!-- user_id_ -->
		</if>
		<if test="name_ != null and name_ != ''">
	         name_, <!-- name_ -->
		</if>
		<if test="description_ != null and description_ != ''">
	         description_, <!-- description_ -->
		</if>
		<if test="type_ != null and type_ != ''">
	         type_, <!-- type_ -->
		</if>
		<if test="task_id_ != null and task_id_ != ''">
	         task_id_, <!-- task_id_ -->
		</if>
		<if test="proc_inst_id_ != null and proc_inst_id_ != ''">
	         proc_inst_id_, <!-- proc_inst_id_ -->
		</if>
		<if test="url_ != null and url_ != ''">
	         url_, <!-- url_ -->
		</if>
		<if test="content_id_ != null and content_id_ != ''">
	         content_id_, <!-- content_id_ -->
		</if>
		<if test="time_ != null and time_ != ''">
	         time_, <!-- time_ -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="rev_ != null">
	          #{rev_, jdbcType=INTEGER}, <!-- rev_ -->
	    </if>
		<if test="user_id_ != null and user_id_ != ''">
	          #{user_id_, jdbcType=VARCHAR}, <!-- user_id_ -->
	    </if>
		<if test="name_ != null and name_ != ''">
	          #{name_, jdbcType=VARCHAR}, <!-- name_ -->
	    </if>
		<if test="description_ != null and description_ != ''">
	          #{description_, jdbcType=VARCHAR}, <!-- description_ -->
	    </if>
		<if test="type_ != null and type_ != ''">
	          #{type_, jdbcType=VARCHAR}, <!-- type_ -->
	    </if>
		<if test="task_id_ != null and task_id_ != ''">
	          #{task_id_, jdbcType=VARCHAR}, <!-- task_id_ -->
	    </if>
		<if test="proc_inst_id_ != null and proc_inst_id_ != ''">
	          #{proc_inst_id_, jdbcType=VARCHAR}, <!-- proc_inst_id_ -->
	    </if>
		<if test="url_ != null and url_ != ''">
	          #{url_, jdbcType=VARCHAR}, <!-- url_ -->
	    </if>
		<if test="content_id_ != null and content_id_ != ''">
	          #{content_id_, jdbcType=VARCHAR}, <!-- content_id_ -->
	    </if>
		<if test="time_ != null and time_ != ''">
	          #{time_, jdbcType=VARCHAR}, <!-- time_ -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_wf_hi_attachmentPO">
		INSERT INTO aos_wf_hi_attachment (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
		    #{user_id_, jdbcType=VARCHAR},  <!-- user_id_ -->
		    #{name_, jdbcType=VARCHAR},  <!-- name_ -->
		    #{description_, jdbcType=VARCHAR},  <!-- description_ -->
		    #{type_, jdbcType=VARCHAR},  <!-- type_ -->
		    #{task_id_, jdbcType=VARCHAR},  <!-- task_id_ -->
		    #{proc_inst_id_, jdbcType=VARCHAR},  <!-- proc_inst_id_ -->
		    #{url_, jdbcType=VARCHAR},  <!-- url_ -->
		    #{content_id_, jdbcType=VARCHAR},  <!-- content_id_ -->
		    #{time_, jdbcType=VARCHAR}  <!-- time_ -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_wf_hi_attachmentPO">
		UPDATE aos_wf_hi_attachment
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="rev_ != null">
		          rev_ = #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
			</if>
			<if test="user_id_ != null">
		          user_id_ = #{user_id_, jdbcType=VARCHAR},  <!-- user_id_ -->
			</if>
			<if test="name_ != null">
		          name_ = #{name_, jdbcType=VARCHAR},  <!-- name_ -->
			</if>
			<if test="description_ != null">
		          description_ = #{description_, jdbcType=VARCHAR},  <!-- description_ -->
			</if>
			<if test="type_ != null">
		          type_ = #{type_, jdbcType=VARCHAR},  <!-- type_ -->
			</if>
			<if test="task_id_ != null">
		          task_id_ = #{task_id_, jdbcType=VARCHAR},  <!-- task_id_ -->
			</if>
			<if test="proc_inst_id_ != null">
		          proc_inst_id_ = #{proc_inst_id_, jdbcType=VARCHAR},  <!-- proc_inst_id_ -->
			</if>
			<if test="url_ != null">
		          url_ = #{url_, jdbcType=VARCHAR},  <!-- url_ -->
			</if>
			<if test="content_id_ != null">
		          content_id_ = #{content_id_, jdbcType=VARCHAR},  <!-- content_id_ -->
			</if>
			<if test="time_ != null">
		          time_ = #{time_, jdbcType=VARCHAR},  <!-- time_ -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_wf_hi_attachment WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_wf_hi_attachmentPO">
		SELECT
		<include refid="column" />
		FROM aos_wf_hi_attachment WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_wf_hi_attachmentPO">
		SELECT
		    <include refid="column" />
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_wf_hi_attachmentPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_wf_hi_attachmentPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_wf_hi_attachmentPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_wf_hi_attachmentPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_wf_hi_attachment
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_wf_hi_attachment
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  rev_,  <!-- rev_ -->
		  user_id_,  <!-- user_id_ -->
		  name_,  <!-- name_ -->
		  description_,  <!-- description_ -->
		  type_,  <!-- type_ -->
		  task_id_,  <!-- task_id_ -->
		  proc_inst_id_,  <!-- proc_inst_id_ -->
		  url_,  <!-- url_ -->
		  content_id_,  <!-- content_id_ -->
		  time_  <!-- time_ -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_wf_hi_attachment.id_,  <!-- id_ -->
		  aos_wf_hi_attachment.rev_,  <!-- rev_ -->
		  aos_wf_hi_attachment.user_id_,  <!-- user_id_ -->
		  aos_wf_hi_attachment.name_,  <!-- name_ -->
		  aos_wf_hi_attachment.description_,  <!-- description_ -->
		  aos_wf_hi_attachment.type_,  <!-- type_ -->
		  aos_wf_hi_attachment.task_id_,  <!-- task_id_ -->
		  aos_wf_hi_attachment.proc_inst_id_,  <!-- proc_inst_id_ -->
		  aos_wf_hi_attachment.url_,  <!-- url_ -->
		  aos_wf_hi_attachment.content_id_,  <!-- content_id_ -->
		  aos_wf_hi_attachment.time_  <!-- time_ -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	   <if test="rev_ != null ">
		      AND rev_ = #{rev_}  <!-- rev_ -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ = #{user_id_}  <!-- user_id_ -->
		</if>
	    <if test="name_ != null and name_ != ''">
		      AND name_ = #{name_}  <!-- name_ -->
		</if>
	    <if test="description_ != null and description_ != ''">
		      AND description_ = #{description_}  <!-- description_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ = #{type_}  <!-- type_ -->
		</if>
	    <if test="task_id_ != null and task_id_ != ''">
		      AND task_id_ = #{task_id_}  <!-- task_id_ -->
		</if>
	    <if test="proc_inst_id_ != null and proc_inst_id_ != ''">
		      AND proc_inst_id_ = #{proc_inst_id_}  <!-- proc_inst_id_ -->
		</if>
	    <if test="url_ != null and url_ != ''">
		      AND url_ = #{url_}  <!-- url_ -->
		</if>
	    <if test="content_id_ != null and content_id_ != ''">
		      AND content_id_ = #{content_id_}  <!-- content_id_ -->
		</if>
	    <if test="time_ != null and time_ != ''">
		      AND time_ = #{time_}  <!-- time_ -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ like '%${user_id_}%'  <!-- user_id_ -->
		</if>
	    <if test="name_ != null and name_ != ''">
		      AND name_ like '%${name_}%'  <!-- name_ -->
		</if>
	    <if test="description_ != null and description_ != ''">
		      AND description_ like '%${description_}%'  <!-- description_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ like '%${type_}%'  <!-- type_ -->
		</if>
	    <if test="task_id_ != null and task_id_ != ''">
		      AND task_id_ like '%${task_id_}%'  <!-- task_id_ -->
		</if>
	    <if test="proc_inst_id_ != null and proc_inst_id_ != ''">
		      AND proc_inst_id_ like '%${proc_inst_id_}%'  <!-- proc_inst_id_ -->
		</if>
	    <if test="url_ != null and url_ != ''">
		      AND url_ like '%${url_}%'  <!-- url_ -->
		</if>
	    <if test="content_id_ != null and content_id_ != ''">
		      AND content_id_ like '%${content_id_}%'  <!-- content_id_ -->
		</if>
	    <if test="time_ != null and time_ != ''">
		      AND time_ like '%${time_}%'  <!-- time_ -->
		</if>
	</sql>
	
</mapper>