<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- aos_wf_id_info[aos_wf_id_info]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-12-22 22:10:32 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_wf_id_infoMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_wf_id_infoPO">
		INSERT INTO aos_wf_id_info (
		<if test="rev_ != null">
	         rev_, <!-- rev_ -->
		</if>
		<if test="user_id_ != null and user_id_ != ''">
	         user_id_, <!-- user_id_ -->
		</if>
		<if test="type_ != null and type_ != ''">
	         type_, <!-- type_ -->
		</if>
		<if test="key_ != null and key_ != ''">
	         key_, <!-- key_ -->
		</if>
		<if test="value_ != null and value_ != ''">
	         value_, <!-- value_ -->
		</if>
		<if test="password_ != null and password_ != ''">
	         password_, <!-- password_ -->
		</if>
		<if test="parent_id_ != null and parent_id_ != ''">
	         parent_id_, <!-- parent_id_ -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="rev_ != null">
	          #{rev_, jdbcType=INTEGER}, <!-- rev_ -->
	    </if>
		<if test="user_id_ != null and user_id_ != ''">
	          #{user_id_, jdbcType=VARCHAR}, <!-- user_id_ -->
	    </if>
		<if test="type_ != null and type_ != ''">
	          #{type_, jdbcType=VARCHAR}, <!-- type_ -->
	    </if>
		<if test="key_ != null and key_ != ''">
	          #{key_, jdbcType=VARCHAR}, <!-- key_ -->
	    </if>
		<if test="value_ != null and value_ != ''">
	          #{value_, jdbcType=VARCHAR}, <!-- value_ -->
	    </if>
		<if test="password_ != null and password_ != ''">
	          #{password_, jdbcType=VARCHAR}, <!-- password_ -->
	    </if>
		<if test="parent_id_ != null and parent_id_ != ''">
	          #{parent_id_, jdbcType=VARCHAR}, <!-- parent_id_ -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_wf_id_infoPO">
		INSERT INTO aos_wf_id_info (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
		    #{user_id_, jdbcType=VARCHAR},  <!-- user_id_ -->
		    #{type_, jdbcType=VARCHAR},  <!-- type_ -->
		    #{key_, jdbcType=VARCHAR},  <!-- key_ -->
		    #{value_, jdbcType=VARCHAR},  <!-- value_ -->
		    #{password_, jdbcType=VARCHAR},  <!-- password_ -->
		    #{parent_id_, jdbcType=VARCHAR}  <!-- parent_id_ -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_wf_id_infoPO">
		UPDATE aos_wf_id_info
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="rev_ != null">
		          rev_ = #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
			</if>
			<if test="user_id_ != null">
		          user_id_ = #{user_id_, jdbcType=VARCHAR},  <!-- user_id_ -->
			</if>
			<if test="type_ != null">
		          type_ = #{type_, jdbcType=VARCHAR},  <!-- type_ -->
			</if>
			<if test="key_ != null">
		          key_ = #{key_, jdbcType=VARCHAR},  <!-- key_ -->
			</if>
			<if test="value_ != null">
		          value_ = #{value_, jdbcType=VARCHAR},  <!-- value_ -->
			</if>
			<if test="password_ != null">
		          password_ = #{password_, jdbcType=VARCHAR},  <!-- password_ -->
			</if>
			<if test="parent_id_ != null">
		          parent_id_ = #{parent_id_, jdbcType=VARCHAR},  <!-- parent_id_ -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_wf_id_info WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_wf_id_infoPO">
		SELECT
		<include refid="column" />
		FROM aos_wf_id_info WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_wf_id_infoPO">
		SELECT
		    <include refid="column" />
		FROM aos_wf_id_info
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_wf_id_infoPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_id_info
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_wf_id_infoPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_id_info
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_wf_id_infoPO">
		SELECT
			<include refid="column" />	
		FROM aos_wf_id_info
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_wf_id_infoPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_wf_id_info
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_wf_id_info
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_wf_id_info
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  rev_,  <!-- rev_ -->
		  user_id_,  <!-- user_id_ -->
		  type_,  <!-- type_ -->
		  key_,  <!-- key_ -->
		  value_,  <!-- value_ -->
		  password_,  <!-- password_ -->
		  parent_id_  <!-- parent_id_ -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_wf_id_info.id_,  <!-- id_ -->
		  aos_wf_id_info.rev_,  <!-- rev_ -->
		  aos_wf_id_info.user_id_,  <!-- user_id_ -->
		  aos_wf_id_info.type_,  <!-- type_ -->
		  aos_wf_id_info.key_,  <!-- key_ -->
		  aos_wf_id_info.value_,  <!-- value_ -->
		  aos_wf_id_info.password_,  <!-- password_ -->
		  aos_wf_id_info.parent_id_  <!-- parent_id_ -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	   <if test="rev_ != null ">
		      AND rev_ = #{rev_}  <!-- rev_ -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ = #{user_id_}  <!-- user_id_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ = #{type_}  <!-- type_ -->
		</if>
	    <if test="key_ != null and key_ != ''">
		      AND key_ = #{key_}  <!-- key_ -->
		</if>
	    <if test="value_ != null and value_ != ''">
		      AND value_ = #{value_}  <!-- value_ -->
		</if>
	    <if test="password_ != null and password_ != ''">
		      AND password_ = #{password_}  <!-- password_ -->
		</if>
	    <if test="parent_id_ != null and parent_id_ != ''">
		      AND parent_id_ = #{parent_id_}  <!-- parent_id_ -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ like '%${user_id_}%'  <!-- user_id_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ like '%${type_}%'  <!-- type_ -->
		</if>
	    <if test="key_ != null and key_ != ''">
		      AND key_ like '%${key_}%'  <!-- key_ -->
		</if>
	    <if test="value_ != null and value_ != ''">
		      AND value_ like '%${value_}%'  <!-- value_ -->
		</if>
	    <if test="password_ != null and password_ != ''">
		      AND password_ like '%${password_}%'  <!-- password_ -->
		</if>
	    <if test="parent_id_ != null and parent_id_ != ''">
		      AND parent_id_ like '%${parent_id_}%'  <!-- parent_id_ -->
		</if>
	</sql>
	
</mapper>