<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 功能模块-用户关联表(浮动导航|快捷导航)[aos_sys_module_user_nav]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-12-22 22:10:31 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Aos_sys_module_user_navMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Aos_sys_module_user_navPO">
		INSERT INTO aos_sys_module_user_nav (
		<if test="module_id_ != null and module_id_ != ''">
	         module_id_, <!-- 功能模块流水号 -->
		</if>
		<if test="user_id_ != null and user_id_ != ''">
	         user_id_, <!-- 人员流水号 -->
		</if>
		<if test="nav_icon_ != null and nav_icon_ != ''">
	         nav_icon_, <!-- 浮动导航图标文件 -->
		</if>
		<if test="type_ != null and type_ != ''">
	         type_, <!-- 导航类型 -->
		</if>
		<if test="sort_no_ != null">
	         sort_no_, <!-- 排序号 -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- 流水号 -->
	   </if>
		)VALUES(
		<if test="module_id_ != null and module_id_ != ''">
	          #{module_id_, jdbcType=VARCHAR}, <!-- 功能模块流水号 -->
	    </if>
		<if test="user_id_ != null and user_id_ != ''">
	          #{user_id_, jdbcType=VARCHAR}, <!-- 人员流水号 -->
	    </if>
		<if test="nav_icon_ != null and nav_icon_ != ''">
	          #{nav_icon_, jdbcType=VARCHAR}, <!-- 浮动导航图标文件 -->
	    </if>
		<if test="type_ != null and type_ != ''">
	          #{type_, jdbcType=VARCHAR}, <!-- 导航类型 -->
	    </if>
		<if test="sort_no_ != null">
	          #{sort_no_, jdbcType=INTEGER}, <!-- 排序号 -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- 流水号 -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Aos_sys_module_user_navPO">
		INSERT INTO aos_sys_module_user_nav (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- 流水号 -->
		    #{module_id_, jdbcType=VARCHAR},  <!-- 功能模块流水号 -->
		    #{user_id_, jdbcType=VARCHAR},  <!-- 人员流水号 -->
		    #{nav_icon_, jdbcType=VARCHAR},  <!-- 浮动导航图标文件 -->
		    #{type_, jdbcType=VARCHAR},  <!-- 导航类型 -->
		    #{sort_no_, jdbcType=INTEGER}  <!-- 排序号 -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_sys_module_user_navPO">
		UPDATE aos_sys_module_user_nav
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- 流水号 -->
			</if>
			<if test="module_id_ != null">
		          module_id_ = #{module_id_, jdbcType=VARCHAR},  <!-- 功能模块流水号 -->
			</if>
			<if test="user_id_ != null">
		          user_id_ = #{user_id_, jdbcType=VARCHAR},  <!-- 人员流水号 -->
			</if>
			<if test="nav_icon_ != null">
		          nav_icon_ = #{nav_icon_, jdbcType=VARCHAR},  <!-- 浮动导航图标文件 -->
			</if>
			<if test="type_ != null">
		          type_ = #{type_, jdbcType=VARCHAR},  <!-- 导航类型 -->
			</if>
			<if test="sort_no_ != null">
		          sort_no_ = #{sort_no_, jdbcType=INTEGER},  <!-- 排序号 -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_sys_module_user_nav WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_sys_module_user_navPO">
		SELECT
		<include refid="column" />
		FROM aos_sys_module_user_nav WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_sys_module_user_navPO">
		SELECT
		    <include refid="column" />
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_sys_module_user_navPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_sys_module_user_navPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_sys_module_user_navPO">
		SELECT
			<include refid="column" />	
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_sys_module_user_navPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM aos_sys_module_user_nav
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_sys_module_user_nav
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- 流水号 -->
		  module_id_,  <!-- 功能模块流水号 -->
		  user_id_,  <!-- 人员流水号 -->
		  nav_icon_,  <!-- 浮动导航图标文件 -->
		  type_,  <!-- 导航类型 -->
		  sort_no_  <!-- 排序号 -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  aos_sys_module_user_nav.id_,  <!-- 流水号 -->
		  aos_sys_module_user_nav.module_id_,  <!-- 功能模块流水号 -->
		  aos_sys_module_user_nav.user_id_,  <!-- 人员流水号 -->
		  aos_sys_module_user_nav.nav_icon_,  <!-- 浮动导航图标文件 -->
		  aos_sys_module_user_nav.type_,  <!-- 导航类型 -->
		  aos_sys_module_user_nav.sort_no_  <!-- 排序号 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- 流水号 -->
		</if>
	    <if test="module_id_ != null and module_id_ != ''">
		      AND module_id_ = #{module_id_}  <!-- 功能模块流水号 -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ = #{user_id_}  <!-- 人员流水号 -->
		</if>
	    <if test="nav_icon_ != null and nav_icon_ != ''">
		      AND nav_icon_ = #{nav_icon_}  <!-- 浮动导航图标文件 -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ = #{type_}  <!-- 导航类型 -->
		</if>
	   <if test="sort_no_ != null ">
		      AND sort_no_ = #{sort_no_}  <!-- 排序号 -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- 流水号 -->
		</if>
	    <if test="module_id_ != null and module_id_ != ''">
		      AND module_id_ like '%${module_id_}%'  <!-- 功能模块流水号 -->
		</if>
	    <if test="user_id_ != null and user_id_ != ''">
		      AND user_id_ like '%${user_id_}%'  <!-- 人员流水号 -->
		</if>
	    <if test="nav_icon_ != null and nav_icon_ != ''">
		      AND nav_icon_ like '%${nav_icon_}%'  <!-- 浮动导航图标文件 -->
		</if>
	    <if test="type_ != null and type_ != ''">
		      AND type_ like '%${type_}%'  <!-- 导航类型 -->
		</if>
	</sql>
	
</mapper>