<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- PostgreSQL 代码生成使用的SQL映射 -->
<mapper namespace="Postgresql">

	<!-- 根据Dto查询并返回数据表集合 -->
	<select id="listTables" parameterType="Dto" resultType="TableVO">
		SELECT
		tablename AS name,
		tableowner AS owner
		FROM
		pg_tables
		<where>
			tablename NOT LIKE 'pg%'
			AND tablename NOT LIKE 'sql_%'
			<if test="tablename != null and tablename != ''">
				AND tablename LIKE '%${tablename}%'
			</if>
		</where>
		ORDER BY tablename
	</select>
	
	<!-- 根据Dto查询并返回数据表 -->
	<select id="selectTable" parameterType="Dto" resultType="TableVO">
		SELECT
		tablename AS name,
		tableowner AS owner
		FROM
		pg_tables
		<where>
			tablename NOT LIKE 'pg%'
			AND tablename NOT LIKE 'sql_%'
			AND tablename = #{tablename}
		</where>
	</select>

	<!-- 查询表注释 -->
	<select id="selectTableComment" resultType="String">
		SELECT
		D.description
		FROM
		pg_description D,
		pg_class C
		<where>
			D.objoid = C.oid
			AND D.objsubid = 0
			AND C.relname = #{_parameter}
		</where>
	</select>

	<!-- 根据Dto查询并返回数据表字段集合 -->
	<select id="listColumnsPage" parameterType="Dto" resultType="ColumnVO">
		SELECT
		A.attnum as number,
		A.attname AS name,
		T.typname AS type,
		A.atttypmod - 4 AS length,
		A.attnotnull AS notnull,
		C.relname AS tablename
		FROM
		pg_class C,
		pg_attribute A,
		pg_type T,
		pg_tables T2
		<where>
		    A.attnum > 0
			AND A.attrelid = C.oid
			AND A.atttypid = T.oid
			AND T2.tablename NOT LIKE 'pg%'
			AND T2.tablename NOT LIKE 'sql_%'
			AND T2.tablename = C.relname
			<if test="tablename != null and tablename != ''">
				AND T2.tablename = #{tablename}
			</if>
			<if test="colname != null and colname != ''">
				AND A.attname LIKE '%${colname}%'
			</if>
		</where>
		ORDER BY T2.tablename, A.attnum ASC
	</select>

	<!-- 查询表字段注释 -->
	<select id="selectColumnComment" resultType="String" parameterType="Dto">
		SELECT
		D.description
		FROM
		pg_description D,
		pg_class C
		<where>
			D.objoid = C.oid
			AND D.objsubid = ${number}
			AND C.relname = #{tablename}
		</where>
	</select>

	<!-- 查询表主键字段信息 -->
	<select id="selectPkey" resultType="Dto" parameterType="Dto">
		SELECT
			pg_constraint.conname AS pkeyname,
			pg_attribute.attname AS colname,
			pg_type.typname AS coltype
		FROM
			pg_constraint
		INNER JOIN pg_class ON pg_constraint.conrelid = pg_class.oid
		INNER JOIN pg_attribute ON pg_attribute.attrelid = pg_class.oid
		INNER JOIN pg_type ON pg_type.oid = pg_attribute.atttypid
		AND pg_attribute.attnum = pg_constraint.conkey [ ${number} ]
		<where>
			pg_class.relname = #{tablename}
			AND pg_constraint.contype = 'p'
		</where>
	</select>

</mapper>