<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- test[test]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2015-09-08 22:35:13 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.TestMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id_" parameterType="TestPO">
		INSERT INTO test (
		<if test="name_ != null and name_ != ''">
	         name_, <!-- name_ -->
		</if>
		<if test="sex_ != null and sex_ != ''">
	         sex_, <!-- sex_ -->
		</if>
		<if test="age_ != null">
	         age_, <!-- age_ -->
		</if>
	          id_
		)VALUES(
		<if test="name_ != null and name_ != ''">
	          #{name_, jdbcType=VARCHAR}, <!-- name_ -->
	    </if>
		<if test="sex_ != null and sex_ != ''">
	          #{sex_, jdbcType=VARCHAR}, <!-- sex_ -->
	    </if>
		<if test="age_ != null">
	          #{age_, jdbcType=INTEGER}, <!-- age_ -->
	    </if>
	          null
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll" useGeneratedKeys="true" keyProperty="id_" parameterType="TestPO">
		INSERT INTO test (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=INTEGER},  <!-- id_ -->
		    #{name_, jdbcType=VARCHAR},  <!-- name_ -->
		    #{sex_, jdbcType=VARCHAR},  <!-- sex_ -->
		    #{age_, jdbcType=INTEGER}  <!-- age_ -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="TestPO">
		UPDATE test
		<set>
			<if test="id_ != null">
		          id_ = #{id_},  <!-- id_ -->
			</if>
			<if test="name_ != null">
		          name_ = #{name_},  <!-- name_ -->
			</if>
			<if test="sex_ != null">
		          sex_ = #{sex_},  <!-- sex_ -->
			</if>
			<if test="age_ != null">
		          age_ = #{age_},  <!-- age_ -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM test WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="TestPO">
		SELECT
		<include refid="column" />
		FROM test WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="TestPO">
		SELECT
		    <include refid="column" />
		FROM test
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="TestPO">
		SELECT
			<include refid="column" />	
		FROM test
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="TestPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM test
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="TestPO">
		SELECT
			<include refid="column" />	
		FROM test
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="TestPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM test
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM test
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM test
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  name_,  <!-- name_ -->
		  sex_,  <!-- sex_ -->
		  age_  <!-- age_ -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  test.id_,  <!-- id_ -->
		  test.name_,  <!-- name_ -->
		  test.sex_,  <!-- sex_ -->
		  test.age_  <!-- age_ -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id_ != null ">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	    <if test="name_ != null and name_ != ''">
		      AND name_ = #{name_}  <!-- name_ -->
		</if>
	    <if test="sex_ != null and sex_ != ''">
		      AND sex_ = #{sex_}  <!-- sex_ -->
		</if>
	   <if test="age_ != null ">
		      AND age_ = #{age_}  <!-- age_ -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="name_ != null and name_ != ''">
		      AND name_ like '%${name_}%'  <!-- name_ -->
		</if>
	    <if test="sex_ != null and sex_ != ''">
		      AND sex_ like '%${sex_}%'  <!-- sex_ -->
		</if>
	</sql>
	
</mapper>