<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 登录验证模块SQL映射 -->
<mapper namespace="sql.module">

   	<!-- 根据Dto查询并返回资源模块实体对象集合 -->
	<select id="listModule" parameterType="Dto" resultType="MyModuleEntity">
		SELECT
			<include refid="com.gitee.myclouds.system.domain.mymodule.MyModuleMapper.column" />
		FROM my_module
		<where>
			<if test="name != null and name != ''">
				AND name like '%${name}%'
			</if>
			<if test="is_enable != null and is_enable != ''">
				AND is_enable = #{is_enable}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
		</where>
		ORDER BY sort_no ASC, id DESC
	</select>

	<!-- 删除my_role_module关联数据 -->
	<select id="deleteMyRoleModule" parameterType="Integer">
		DELETE
		FROM my_role_module WHERE module_id = #{module_id}
	</select>
	
	<!-- 查询资源树集合 -->
	<select id="listModuleTree" resultType="TreeNodeVO" parameterType="Dto">
	    SELECT
			id,
			parent_id AS pId,
			name AS label
		FROM
			my_module
         ORDER BY sort_no ASC, id DESC
	</select>
	
	<!-- 统计直系子节点个数 -->
	<select id="countSubModules" parameterType="Integer" resultType="Integer">
		SELECT
		count(1) AS cnt
		FROM my_module WHERE parent_id = #{parent_id}
	</select>

</mapper>