<title th:text="${@thCxt.param('sys_title')}"></title>
<meta charset="utf-8" />
<meta name="keywords" content="MyClouds, Myclouds开发平台" />
<meta name="description" content="MyClouds基于JavaEE技术体系和SpringCloud生态圈，以“标准功能可复用、通用模块可配置、业务需求快速开发、异构系统无缝集成、应用性能可监控扩展、系统日志可分析审计”为目标， 帮助企业落实IT策略、屏蔽技术壁垒，快速实现可水平扩展的高性能高可用业务愿景。 powered by xiongchun 熊春 307916217@qq.com" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel='stylesheet' type='text/css' href='/theme/assets/skin/default_skin/css/googlefont.css' />
<link rel='stylesheet' type='text/css' href='/theme/assets/fonts/glyphicons-pro/glyphicons-pro.css' />
<link rel="stylesheet" type="text/css" href="/theme/assets/skin/default_skin/css/theme.css" />
<link rel="stylesheet" type="text/css" href="/theme/assets/admin-tools/admin-forms/css/admin-forms.css" />
<link rel="stylesheet" type="text/css" href="/theme/vendor/plugins/magnific/magnific-popup.css" />
<link rel="stylesheet" type="text/css" href="/theme/vendor/plugins/datatables/media/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/theme/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="/theme/vendor/plugins/daterange/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/theme/vendor/plugins/select2/css/core.css" />
<link rel="stylesheet" type="text/css" href="/css/myclouds.css" />
<link rel="shortcut icon" href="/theme/assets/img/favicon.ico" />

<!-- JQ库先加载，省事 -->
<script type="text/javascript" src="/theme/vendor/jquery/jquery-1.11.1.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->