<div th:fragment="script">
	<!-- BEGIN: PAGE SCRIPTS -->
	<script src="/theme/assets/js/utility/utility.js"></script>
	<script src="/theme/assets/js/main.js"></script>
	<script src="/theme/assets/admin-tools/admin-forms/js/jquery.validate.min.js"></script>
	<script src="/theme/assets/admin-tools/admin-forms/js/additional-methods.min.js"></script>
	<script src="/theme/vendor/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/theme/vendor/plugins/datatables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/theme/vendor/plugins/datatables/i18n/chinese.js"></script>
	<script src="/theme/vendor/plugins/select2/select2.min.js"></script>
	<script src="/theme/vendor/plugins/magnific/jquery.magnific-popup.js"></script>
	<script src="/theme/vendor/plugins/pnotify/pnotify.js"></script>
	<script src="/theme/vendor/plugins/moment/moment.min.js"></script>
	<script src="/theme/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js"></script>
	<script src="/theme/vendor/plugins/daterange/daterangepicker.js"></script>
	<script src="/js/md5.js"></script>
	<script src="/js/myclouds.js"></script>
	<!-- END: PAGE SCRIPTS -->
</div>