<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户模块SQL映射 -->
<mapper namespace="sql.user">

    <!-- 分页查询用户信息 -->
	<select id="pageUser" parameterType="Dto" resultType="Dto">
		SELECT
				  <include refid="com.gitee.myclouds.system.domain.myuser.MyUserMapper.column" />
		         ,(SELECT name from my_org where id = my_user.org_id) AS org_name
		FROM my_user
		<include refid="pageUserWhere" />
		ORDER BY id DESC LIMIT ${start},${length}
	</select>
	<select id="pageUserCount" parameterType="Dto" resultType="Integer">
		SELECT
		count(1) AS total
		FROM my_user
		<include refid="pageUserWhere" />
	</select>
	<sql id="pageUserWhere">
		<where>
			<if test="name_account != null and name_account != ''">
				AND (name like '%${name_account}%' OR account like '%${name_account}%' )
			</if>
			<if test="org_id != null and org_id != ''">
				AND org_id = #{org_id}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</sql>
	
	<!-- 删除my_user_role关联数据 -->
	<delete id="deleteMyUserRole" parameterType="Dto">
		DELETE
		FROM my_user_role WHERE user_id = #{user_id} AND role_id = #{role_id}
	</delete>
	
	<!-- 根据用户ID查询已授权角色列表 -->
	<select id="listGrantedRoles" parameterType="Integer" resultType="Dto">
		SELECT
			 t1.role_id AS id, t2.name
		FROM
			my_user_role t1 LEFT JOIN my_role t2 ON t1.role_id = t2.id
		WHERE
			t1.user_id = #{user_id}	      
	</select>
	
	<!-- 根据用户ID查询待授权角色列表 -->
	<select id="listToGrantRoles" parameterType="Integer" resultType="Dto">
		SELECT
			id, name
		FROM
			my_role
		WHERE
			id NOT IN (
				SELECT role_id FROM my_user_role WHERE user_id = #{user_id}
			)
	</select>
	
	

</mapper>