.ux-cell-icon-delete{background:url(../images/icons/delete.gif) no-repeat;height:16px;cursor:pointer;}
.ux-cell-icon-completed{background:url(../images/icons/tick.gif) no-repeat;height:16px;}
.ux-cell-icon-clear{background:url(../images/icons/bin_empty.png) no-repeat;height:16px;}
.ux-cell-color-gray{font-style:italic;text-decoration:line-through;color:gray;}
.upload-progress-table{width:auto;border-collapse:collapse;margin-top:7px;font:normal 12px tahoma, arial, verdana, sans-serif;}
.upload-progress-table .upload-progress-label{width:60px;text-align:left;padding:2px 2px 2px 15px;}
.upload-progress-table .upload-progress-value{width:150px;}
.db-ft-small{width:16px;height:16px;background-repeat:no-repeat;background-position:center center;}
.db-ft-medium{width:32px;height:32px;background-repeat:no-repeat;background-position:center center;}
.db-ft-large{width:48px;height:48px;background-repeat:no-repeat;background-position:center center;}
.db-ft-root-small{background-image:url( ../images/types/small/folders/root.gif) !important;}
.db-ft-folder-small{background-image:url( ../images/types/small/folders/folder.gif) !important;}
.db-ft-folder-shared-small{background-image:url( ../images/types/small/folders/folder_shared.gif) !important;}
.db-ft-gallery-small{background-image:url( ../images/types/small/folders/gallery.gif) !important;}
.db-ft-album-small{background-image:url( ../images/types/small/folders/album.gif) !important;}
.db-ft-album-shared-small{background-image:url( ../images/types/small/folders/album_shared.gif) !important;}
.db-ft-published-small{background-image:url( ../images/types/small/folders/published.gif) !important;}
.db-ft-published-files-small{background-image:url( ../images/types/small/folders/published_files.gif) !important;}
.db-ft-published-folders-small{background-image:url( ../images/types/small/folders/published_folders.gif) !important;}
.db-ft-subs-small{background-image:url( ../images/types/small/folders/subs.gif) !important;}
.db-ft-subs-user-small{background-image:url( ../images/types/small/folders/subs_user.gif) !important;}
.db-ft-network-small{background-image:url( ../images/types/small/folders/network.gif) !important;}
.db-ft-network-user-small{background-image:url( ../images/types/small/folders/network_user.gif) !important;}
.db-ft-shared-albums-small{background-image:url( ../images/types/small/folders/shared_albums.gif) !important;}
.db-ft-shared-docs-small{background-image:url( ../images/types/small/folders/shared_docs.gif) !important;}
.db-ft-recyclebin-small{background-image:url( ../images/types/small/folders/recycle.gif) !important;}
.db-ft-3gp-small{background-image:url( ../images/types/small/files/3gp.gif) !important;}
.db-ft-avi-small{background-image:url( ../images/types/small/files/avi.gif) !important;}
.db-ft-bmp-small{background-image:url( ../images/types/small/files/bmp.gif) !important;}
.db-ft-chm-small{background-image:url( ../images/types/small/files/chm.gif) !important;}
.db-ft-dll-small{background-image:url( ../images/types/small/files/dll.gif) !important;}
.db-ft-doc-small{background-image:url( ../images/types/small/files/doc.gif) !important;}
.db-ft-docx-small{background-image:url( ../images/types/small/files/docx.gif) !important;}
.db-ft-dwf-small{background-image:url( ../images/types/small/files/dwf.gif) !important;}
.db-ft-exe-small{background-image:url( ../images/types/small/files/exe.gif) !important;}
.db-ft-flv-small{background-image:url( ../images/types/small/files/flv.gif) !important;}
.db-ft-htm-small{background-image:url( ../images/types/small/files/htm.gif) !important;}
.db-ft-jpg-small{background-image:url( ../images/types/small/files/jpg.gif) !important;}
.db-ft-mdb-small{background-image:url( ../images/types/small/files/mdb.gif) !important;}
.db-ft-mov-small{background-image:url( ../images/types/small/files/mov.gif) !important;}
.db-ft-mp3-small{background-image:url( ../images/types/small/files/mp3.gif) !important;}
.db-ft-mp4-small{background-image:url( ../images/types/small/files/mp4.gif) !important;}
.db-ft-mpg-small{background-image:url( ../images/types/small/files/mpg.gif) !important;}
.db-ft-pdf-small{background-image:url( ../images/types/small/files/pdf.gif) !important;}
.db-ft-pps-small{background-image:url( ../images/types/small/files/pps.gif) !important;}
.db-ft-ppt-small{background-image:url( ../images/types/small/files/ppt.gif) !important;}
.db-ft-pptx-small{background-image:url( ../images/types/small/files/pptx.gif) !important;}
.db-ft-rar-small{background-image:url( ../images/types/small/files/rar.gif) !important;}
.db-ft-rtf-small{background-image:url( ../images/types/small/files/rtf.gif) !important;}
.db-ft-swf-small{background-image:url( ../images/types/small/files/swf.gif) !important;}
.db-ft-txt-small{background-image:url( ../images/types/small/files/txt.gif) !important;}
.db-ft-unknown-small{background-image:url( ../images/types/small/files/unknown.gif) !important;}
.db-ft-wav-small{background-image:url( ../images/types/small/files/wav.gif) !important;}
.db-ft-wma-small{background-image:url( ../images/types/small/files/wma.gif) !important;}
.db-ft-wmv-small{background-image:url( ../images/types/small/files/wmv.gif) !important;}
.db-ft-xls-small{background-image:url( ../images/types/small/files/xls.gif) !important;}
.db-ft-xlsx-small{background-image:url( ../images/types/small/files/xlsx.gif) !important;}
.db-ft-xml-small{background-image:url( ../images/types/small/files/xml.gif) !important;}
.db-ft-zip-small{background-image:url( ../images/types/small/files/zip.gif) !important;}
.db-ft-root-medium{background-image:url( ../images/types/medium/folders/root.gif) !important;}
.db-ft-folder-medium{background-image:url( ../images/types/medium/folders/folder.gif) !important;}
.db-ft-folder-shared-medium{background-image:url( ../images/types/medium/folders/folder_shared.gif) !important;}
.db-ft-gallery-medium{background-image:url( ../images/types/medium/folders/gallery.gif) !important;}
.db-ft-album-medium{background-image:url( ../images/types/medium/folders/album.gif) !important;}
.db-ft-album-shared-medium{background-image:url( ../images/types/medium/folders/album_shared.gif) !important;}
.db-ft-published-medium{background-image:url( ../images/types/medium/folders/published.gif) !important;}
.db-ft-published-files-medium{background-image:url( ../images/types/medium/folders/published_files.gif) !important;}
.db-ft-published-folders-medium{background-image:url( ../images/types/medium/folders/published_folders.gif) !important;}
.db-ft-subs-medium{background-image:url( ../images/types/medium/folders/subs.gif) !important;}
.db-ft-subs-user-medium{background-image:url( ../images/types/medium/folders/subs_user.gif) !important;}
.db-ft-network-medium{background-image:url( ../images/types/medium/folders/network.gif) !important;}
.db-ft-network-user-medium{background-image:url( ../images/types/medium/folders/network_user.gif) !important;}
.db-ft-shared-albums-medium{background-image:url( ../images/types/medium/folders/shared_albums.gif) !important;}
.db-ft-shared-docs-medium{background-image:url( ../images/types/medium/folders/shared_docs.gif) !important;}
.db-ft-recyclebin-medium{background-image:url( ../images/types/medium/folders/recycle.gif) !important;}
.db-ft-3gp-medium{background-image:url( ../images/types/medium/files/3gp.gif) !important;}
.db-ft-avi-medium{background-image:url( ../images/types/medium/files/avi.gif) !important;}
.db-ft-bmp-medium{background-image:url( ../images/types/medium/files/bmp.gif) !important;}
.db-ft-chm-medium{background-image:url( ../images/types/medium/files/chm.gif) !important;}
.db-ft-dll-medium{background-image:url( ../images/types/medium/files/dll.gif) !important;}
.db-ft-doc-medium{background-image:url( ../images/types/medium/files/doc.gif) !important;}
.db-ft-docx-medium{background-image:url( ../images/types/medium/files/docx.gif) !important;}
.db-ft-dwf-medium{background-image:url( ../images/types/medium/files/dwf.gif) !important;}
.db-ft-exe-medium{background-image:url( ../images/types/medium/files/exe.gif) !important;}
.db-ft-flv-medium{background-image:url( ../images/types/medium/files/flv.gif) !important;}
.db-ft-htm-medium{background-image:url( ../images/types/medium/files/htm.gif) !important;}
.db-ft-jpg-medium{background-image:url( ../images/types/medium/files/jpg.gif) !important;}
.db-ft-mdb-medium{background-image:url( ../images/types/medium/files/mdb.gif) !important;}
.db-ft-mov-medium{background-image:url( ../images/types/medium/files/mov.gif) !important;}
.db-ft-mp3-medium{background-image:url( ../images/types/medium/files/mp3.gif) !important;}
.db-ft-mp4-medium{background-image:url( ../images/types/medium/files/mp4.gif) !important;}
.db-ft-mpg-medium{background-image:url( ../images/types/medium/files/mpg.gif) !important;}
.db-ft-pdf-medium{background-image:url( ../images/types/medium/files/pdf.gif) !important;}
.db-ft-pps-medium{background-image:url( ../images/types/medium/files/pps.gif) !important;}
.db-ft-ppt-medium{background-image:url( ../images/types/medium/files/ppt.gif) !important;}
.db-ft-pptx-medium{background-image:url( ../images/types/medium/files/pptx.gif) !important;}
.db-ft-rar-medium{background-image:url( ../images/types/medium/files/rar.gif) !important;}
.db-ft-rtf-medium{background-image:url( ../images/types/medium/files/rtf.gif) !important;}
.db-ft-swf-medium{background-image:url( ../images/types/medium/files/swf.gif) !important;}
.db-ft-txt-medium{background-image:url( ../images/types/medium/files/txt.gif) !important;}
.db-ft-unknown-medium{background-image:url( ../images/types/medium/files/unknown.gif) !important;}
.db-ft-wav-medium{background-image:url( ../images/types/medium/files/wav.gif) !important;}
.db-ft-wma-medium{background-image:url( ../images/types/medium/files/wma.gif) !important;}
.db-ft-wmv-medium{background-image:url( ../images/types/medium/files/wmv.gif) !important;}
.db-ft-xls-medium{background-image:url( ../images/types/medium/files/xls.gif) !important;}
.db-ft-xlsx-medium{background-image:url( ../images/types/medium/files/xlsx.gif) !important;}
.db-ft-xml-medium{background-image:url( ../images/types/medium/files/xml.gif) !important;}
.db-ft-zip-medium{background-image:url( ../images/types/medium/files/zip.gif) !important;}
.db-ft-root-large{background-image:url( ../images/types/large/folders/root.gif) !important;}
.db-ft-folder-large{background-image:url( ../images/types/large/folders/folder.gif) !important;}
.db-ft-folder-shared-large{background-image:url( ../images/types/large/folders/folder_shared.gif) !important;}
.db-ft-gallery-large{background-image:url( ../images/types/large/folders/gallery.gif) !important;}
.db-ft-album-large{background-image:url( ../images/types/large/folders/album.gif) !important;}
.db-ft-album-shared-large{background-image:url( ../images/types/large/folders/album_shared.gif) !important;}
.db-ft-published-large{background-image:url( ../images/types/large/folders/published.gif) !important;}
.db-ft-published-files-large{background-image:url( ../images/types/large/folders/published_files.gif) !important;}
.db-ft-published-folders-large{background-image:url( ../images/types/large/folders/published_folders.gif) !important;}
.db-ft-subs-large{background-image:url( ../images/types/large/folders/subs.gif) !important;}
.db-ft-subs-user-large{background-image:url( ../images/types/large/folders/subs_user.gif) !important;}
.db-ft-network-large{background-image:url( ../images/types/large/folders/network.gif) !important;}
.db-ft-network-user-large{background-image:url( ../images/types/large/folders/network_user.gif) !important;}
.db-ft-shared-albums-large{background-image:url( ../images/types/large/folders/shared_albums.gif) !important;}
.db-ft-shared-docs-large{background-image:url( ../images/types/large/folders/shared_docs.gif) !important;}
.db-ft-recyclebin-large{background-image:url( ../images/types/large/folders/recycle.gif) !important;}
.db-ft-3gp-large{background-image:url( ../images/types/large/files/3gp.gif) !important;}
.db-ft-avi-large{background-image:url( ../images/types/large/files/avi.gif) !important;}
.db-ft-bmp-large{background-image:url( ../images/types/large/files/bmp.gif) !important;}
.db-ft-chm-large{background-image:url( ../images/types/large/files/chm.gif) !important;}
.db-ft-dll-large{background-image:url( ../images/types/large/files/dll.gif) !important;}
.db-ft-doc-large{background-image:url( ../images/types/large/files/doc.gif) !important;}
.db-ft-docx-large{background-image:url( ../images/types/large/files/docx.gif) !important;}
.db-ft-dwf-large{background-image:url( ../images/types/large/files/dwf.gif) !important;}
.db-ft-exe-large{background-image:url( ../images/types/large/files/exe.gif) !important;}
.db-ft-flv-large{background-image:url( ../images/types/large/files/flv.gif) !important;}
.db-ft-htm-large{background-image:url( ../images/types/large/files/htm.gif) !important;}
.db-ft-jpg-large{background-image:url( ../images/types/large/files/jpg.gif) !important;}
.db-ft-mdb-large{background-image:url( ../images/types/large/files/mdb.gif) !important;}
.db-ft-mov-large{background-image:url( ../images/types/large/files/mov.gif) !important;}
.db-ft-mp3-large{background-image:url( ../images/types/large/files/mp3.gif) !important;}
.db-ft-mp4-large{background-image:url( ../images/types/large/files/mp4.gif) !important;}
.db-ft-mpg-large{background-image:url( ../images/types/large/files/mpg.gif) !important;}
.db-ft-pdf-large{background-image:url( ../images/types/large/files/pdf.gif) !important;}
.db-ft-pps-large{background-image:url( ../images/types/large/files/pps.gif) !important;}
.db-ft-ppt-large{background-image:url( ../images/types/large/files/ppt.gif) !important;}
.db-ft-pptx-large{background-image:url( ../images/types/large/files/pptx.gif) !important;}
.db-ft-rar-large{background-image:url( ../images/types/large/files/rar.gif) !important;}
.db-ft-rtf-large{background-image:url( ../images/types/large/files/rtf.gif) !important;}
.db-ft-swf-large{background-image:url( ../images/types/large/files/swf.gif) !important;}
.db-ft-txt-large{background-image:url( ../images/types/large/files/txt.gif) !important;}
.db-ft-unknown-large{background-image:url( ../images/types/large/files/unknown.gif) !important;}
.db-ft-wav-large{background-image:url( ../images/types/large/files/wav.gif) !important;}
.db-ft-wma-large{background-image:url( ../images/types/large/files/wma.gif) !important;}
.db-ft-wmv-large{background-image:url( ../images/types/large/files/wmv.gif) !important;}
.db-ft-xls-large{background-image:url( ../images/types/large/files/xls.gif) !important;}
.db-ft-xlsx-large{background-image:url( ../images/types/large/files/xlsx.gif) !important;}
.db-ft-xml-large{background-image:url( ../images/types/large/files/xml.gif) !important;}
.db-ft-zip-large{background-image:url( ../images/types/large/files/zip.gif) !important;}
.db-ft-gif-small,.db-ft-ico-small{background-image:url( ../images/types/small/files/gif.gif) !important;}
.db-ft-gif-medium,.db-ft-ico-medium{background-image:url( ../images/types/medium/files/gif.gif) !important;}
.db-ft-gif-large,.db-ft-ico-large{background-image:url( ../images/types/large/files/gif.gif) !important;}


.db-icn-add {background-image: url(../images/icons/add.png) !important;}
.db-icn-stop {background-image: url(../images/icons/stop.png) !important;}
.db-icn-cross {background-image: url(../images/icons/cancel.png) !important;}
.db-icn-trash {background-image: url( ../images/icons/clear.png) !important;}
.db-icn-upload_ {background-image: url( ../images/icons/upload_.png) !important;}