<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- [aos_act_id_group]SQLMapper自动映射 (注意:此映射文件自动生成-禁止手工修改) 2015-01-07 23:01:59 -->
<mapper namespace="cn.osworks.aos.modules.bpm.dao.mapper.Aos_act_id_groupMapper">
	
    <!-- 启用MyBatis二级缓存(以该Mapper文件的namespace属性作为一个缓存域) 。
	       同一缓存域下的Select语句结果集将被缓存；delete、update、insert语句执行则此缓存域的缓存将被刷新。
	       提示：只对一些频繁读取的基础数据、配置数据开启mybatis的二级缓存。大数据量的业务数据如果需要缓存请使用第三方缓存机制 -->
	<cache eviction="LRU" size="1024" readOnly="false" />

	<!-- 表字段 -->
	<sql id="column">
		id_,  <!-- id_ -->
		rev_,  <!-- rev_ -->
		name_,  <!-- name_ -->
		type_  <!-- type_ -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		aos_act_id_group.id_,  <!-- id_ -->
		aos_act_id_group.rev_,  <!-- rev_ -->
		aos_act_id_group.name_,  <!-- name_ -->
		aos_act_id_group.type_  <!-- type_ -->
	</sql>


	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		    AND id_ = #{id_}  <!-- id_ -->
		</if>
	   <if test="rev_ != null ">
		    AND rev_ = #{rev_}  <!-- rev_ -->
		</if>
	    <if test="name_ != null and name_ != ''">
		    AND name_ = #{name_}  <!-- name_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		    AND type_ = #{type_}  <!-- type_ -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		    AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	   <if test="rev_ != null ">
            AND rev_ = '%${rev_}%'  <!-- rev_ -->
		</if>
	    <if test="name_ != null and name_ != ''">
		    AND name_ like '%${name_}%'  <!-- name_ -->
		</if>
	    <if test="type_ != null and type_ != ''">
		    AND type_ like '%${type_}%'  <!-- type_ -->
		</if>
	</sql>

	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll" parameterType="Aos_act_id_groupPO">
		INSERT INTO aos_act_id_group (
		    <include refid="column" />
		)
		VALUES (
		#{id_, jdbcType=VARCHAR},  <!-- id_ -->
		#{rev_, jdbcType=INTEGER},  <!-- rev_ -->
		#{name_, jdbcType=VARCHAR},  <!-- name_ -->
		#{type_, jdbcType=VARCHAR}  <!-- type_ -->
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert" parameterType="Aos_act_id_groupPO">
		INSERT INTO aos_act_id_group (
		<if test="rev_ != null">
	      rev_,  <!-- rev_ -->
	   </if>
		<if test="name_ != null and name_ != ''">
	      name_,  <!-- name_ -->
	   </if>
		<if test="type_ != null and type_ != ''">
	      type_,  <!-- type_ -->
	   </if>
		<if test="id_ != null and id_ != ''">
	      id_  <!-- id_ -->
	   </if>
		)
		VALUES (
		<if test="rev_ != null">
		  #{rev_, jdbcType=INTEGER},  <!-- rev_ -->
	    </if>
		<if test="name_ != null and name_ != ''">
		  #{name_, jdbcType=VARCHAR},  <!-- name_ -->
	    </if>
		<if test="type_ != null and type_ != ''">
		  #{type_, jdbcType=VARCHAR},  <!-- type_ -->
	    </if>
		<if test="id_ != null and id_ != ''">
	      #{id_, jdbcType=VARCHAR}  <!-- id_ -->
		</if>
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Aos_act_id_groupPO">
		UPDATE aos_act_id_group
		<set>
			<if test="id_ != null">
				id_ = #{id_},  <!-- id_ -->
			</if>
			<if test="rev_ != null">
				rev_ = #{rev_},  <!-- rev_ -->
			</if>
			<if test="name_ != null">
				name_ = #{name_},  <!-- name_ -->
			</if>
			<if test="type_ != null">
				type_ = #{type_},  <!-- type_ -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Aos_act_id_groupPO">
		SELECT
		<include refid="column" />
		FROM aos_act_id_group WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Aos_act_id_groupPO">
		SELECT
		    <include refid="column" />
		FROM aos_act_id_group
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Aos_act_id_groupPO">
		SELECT
			<include refid="column" />	
		FROM aos_act_id_group
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Aos_act_id_groupPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_act_id_group
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Aos_act_id_groupPO">
		SELECT
			<include refid="column" />	
		FROM aos_act_id_group
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Aos_act_id_groupPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM aos_act_id_group
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM aos_act_id_group WHERE  id_ = #{id_}
	</delete>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS rows FROM aos_act_id_group
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM aos_act_id_group
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
</mapper>