<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 功能模块-角色关联表[my_role_module]SQL自动映射 -->
<!--  注意:此文件由MyClouds平台自动生成-禁止手工修改 2018-03-15 16:23:47 -->
<mapper namespace="com.gitee.myclouds.admin.domain.myrolemodule.MyRoleModuleMapper">
	
	<!-- 插入一个数据实体对象(插入字段为传入Entity实体的非空属性) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="MyRoleModuleEntity">
		INSERT INTO my_role_module (
		<if test="role_id != null">
	         role_id, <!--  角色流水号 -->
		</if>
		<if test="module_id != null">
	         module_id, <!-- 功能模块流水号 -->
		</if>
		<if test="grant_type != null and grant_type != ''">
	         grant_type, <!-- 权限类型 -->
		</if>
		<if test="create_time != null">
	         create_time, <!-- 创建时间 -->
		</if>
		<if test="create_by != null">
	         create_by, <!-- 创建人ID -->
		</if>
	          id
		)VALUES(
		<if test="role_id != null">
	          #{role_id, jdbcType=INTEGER}, <!--  角色流水号 -->
	    </if>
		<if test="module_id != null">
	          #{module_id, jdbcType=INTEGER}, <!-- 功能模块流水号 -->
	    </if>
		<if test="grant_type != null and grant_type != ''">
	          #{grant_type, jdbcType=VARCHAR}, <!-- 权限类型 -->
	    </if>
		<if test="create_time != null">
	          #{create_time, jdbcType=TIMESTAMP}, <!-- 创建时间 -->
	    </if>
		<if test="create_by != null">
	          #{create_by, jdbcType=INTEGER}, <!-- 创建人ID -->
	    </if>
	          null
		)
	</insert>
	
	<!-- 插入一个数据实体对象(含所有字段) -->
	<insert id="insertAll" useGeneratedKeys="true" keyProperty="id" parameterType="MyRoleModuleEntity">
		INSERT INTO my_role_module (
		    <include refid="column" />
		)
		VALUES (
		    #{id, jdbcType=INTEGER},  <!-- 流水号 -->
		    #{role_id, jdbcType=INTEGER},  <!--  角色流水号 -->
		    #{module_id, jdbcType=INTEGER},  <!-- 功能模块流水号 -->
		    #{grant_type, jdbcType=VARCHAR},  <!-- 权限类型 -->
		    #{create_time, jdbcType=TIMESTAMP},  <!-- 创建时间 -->
		    #{create_by, jdbcType=INTEGER}  <!-- 创建人ID -->
		)
	</insert>

	<!-- 根据主键修改数据实体对象 -->
	<update id="updateByKey" parameterType="MyRoleModuleEntity">
		UPDATE my_role_module
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- 流水号 -->
			</if>
			<if test="role_id != null">
		          role_id = #{role_id, jdbcType=INTEGER},  <!--  角色流水号 -->
			</if>
			<if test="module_id != null">
		          module_id = #{module_id, jdbcType=INTEGER},  <!-- 功能模块流水号 -->
			</if>
			<if test="grant_type != null">
		          grant_type = #{grant_type, jdbcType=VARCHAR},  <!-- 权限类型 -->
			</if>
			<if test="create_time != null">
		          create_time = #{create_time, jdbcType=TIMESTAMP},  <!-- 创建时间 -->
			</if>
			<if test="create_by != null">
		          create_by = #{create_by, jdbcType=INTEGER},  <!-- 创建人ID -->
			</if>
		</set>
		WHERE  id = #{id}
	</update>
	
	<!-- 根据主键删除数据实体对象 -->
	<delete id="deleteByKey">
		DELETE FROM my_role_module WHERE  id = #{id}
	</delete>

	<!-- 根据主键查询并返回数据实体对象 -->
	<select id="selectByKey" resultType="MyRoleModuleEntity">
		SELECT
		<include refid="column" />
		FROM my_role_module WHERE  id = #{id}
	</select>

	<!-- 根据唯一组合条件查询并返回数据实体对象 -->
	<select id="selectOne" parameterType="Dto" resultType="MyRoleModuleEntity">
		SELECT
		    <include refid="column" />
		FROM my_role_module
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据实体对象集合 -->
	<select id="list" parameterType="Dto" resultType="MyRoleModuleEntity">
		SELECT
			<include refid="column" />	
		FROM my_role_module
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据实体对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="MyRoleModuleEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_role_module
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="MyRoleModuleEntity">
		SELECT
			<include refid="column" />	
		FROM my_role_module
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据实体对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="MyRoleModuleEntity" useCache="false">
	    SELECT
			<include refid="column" />	
		FRoM my_role_module
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM my_role_module
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM my_role_module
		<where>
		    <include refid="equal" />
		</where>
	</select>

	<!-- 根据唯一键[ukey1]修改数据实体对象 -->
	<update id="updateByUkey1" parameterType="MyRoleModuleEntity">
		UPDATE my_role_module
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- 流水号 -->
			</if>
			<if test="role_id != null">
		          role_id = #{role_id, jdbcType=INTEGER},  <!--  角色流水号 -->
			</if>
			<if test="module_id != null">
		          module_id = #{module_id, jdbcType=INTEGER},  <!-- 功能模块流水号 -->
			</if>
			<if test="grant_type != null">
		          grant_type = #{grant_type, jdbcType=VARCHAR},  <!-- 权限类型 -->
			</if>
			<if test="create_time != null">
		          create_time = #{create_time, jdbcType=TIMESTAMP},  <!-- 创建时间 -->
			</if>
			<if test="create_by != null">
		          create_by = #{create_by, jdbcType=INTEGER},  <!-- 创建人ID -->
			</if>
		</set>
		WHERE  role_id = #{role_id} AND module_id = #{module_id} AND grant_type = #{grant_type}
	</update>
	
	<!-- 根据唯一键[ukey1]删除数据实体对象 -->
	<delete id="deleteByUkey1">
		DELETE FROM my_role_module WHERE  role_id = #{role_id} AND module_id = #{module_id} AND grant_type = #{grant_type}
	</delete>

	<!-- 根据唯一键[ukey1]查询并返回数据实体对象 -->
	<select id="selectByUkey1" resultType="MyRoleModuleEntity">
		SELECT
		<include refid="column" />
		FROM my_role_module WHERE  role_id = #{role_id} AND module_id = #{module_id} AND grant_type = #{grant_type}
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id,  <!-- 流水号 -->
		  role_id,  <!--  角色流水号 -->
		  module_id,  <!-- 功能模块流水号 -->
		  grant_type,  <!-- 权限类型 -->
		  create_time,  <!-- 创建时间 -->
		  create_by  <!-- 创建人ID -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  my_role_module.id,  <!-- 流水号 -->
		  my_role_module.role_id,  <!--  角色流水号 -->
		  my_role_module.module_id,  <!-- 功能模块流水号 -->
		  my_role_module.grant_type,  <!-- 权限类型 -->
		  my_role_module.create_time,  <!-- 创建时间 -->
		  my_role_module.create_by  <!-- 创建人ID -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id != null ">
		      AND id = #{id}  <!-- 流水号 -->
		</if>
	   <if test="role_id != null ">
		      AND role_id = #{role_id}  <!--  角色流水号 -->
		</if>
	   <if test="module_id != null ">
		      AND module_id = #{module_id}  <!-- 功能模块流水号 -->
		</if>
	    <if test="grant_type != null and grant_type != ''">
		      AND grant_type = #{grant_type}  <!-- 权限类型 -->
		</if>
	   <if test="create_time != null ">
		      AND create_time = #{create_time}  <!-- 创建时间 -->
		</if>
	   <if test="create_by != null ">
		      AND create_by = #{create_by}  <!-- 创建人ID -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="grant_type != null and grant_type != ''">
		      AND grant_type like '${grant_type}%'  <!-- 权限类型 -->
		</if>
	</sql>
	
</mapper>